/**
 *
 * Base Styles
 *
 */
body {
	background-color: var(--c-white);
	color: var(--t-main);
	font-family: var(--f-main);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.25;
	margin: 0;

	/* Works in conjunction with viewport-fit: cover; */
	padding:
		env(safe-area-inset-top, 20px)
		env(safe-area-inset-right, 20px)
		env(safe-area-inset-bottom, 20px)
		env(safe-area-inset-left, 20px);
	width: 100%;


	@media (--bp-medium) {
		background-color: var(--c-gray);
	}
}

::selection {
	background-color: var(--c-black);
	color: var(--c-white);
}

mark {
	background: linear-gradient(45deg,  #2d21a9 1%,#ce469c 100%);
	border-radius: 5px;
	color: var(--c-white);
	display: inline-block;
	padding: 3px 5px;
}

/* Responsive Images */
img {
	height: auto;
	max-width: 100%;
}

/* Focus States for accessibility */
*:focus {
	outline: 1px dotted var(--c-black);
}

/**
 *
 * WordPress Screen Reader Text
 * https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
 *
 */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
