/**
 *
 * Text Level Semantics
 * Set base styling for headlines, p, a, span, ul, li, ol, etc
 *
 */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

/**
 *
 * Text Links
 *
 */
a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
