/*------------------------------------*\
    ::  Hero Layout
\*------------------------------------*/	
.hero-block {
	width: 100%;
	margin-top: 107px;
	overflow: hidden;
	@include bp($max:640px) {
		margin-top: 87px;
	}
}
.hero-block__text {
	width: 100%;
	max-width: 540px;
	padding: emCalc(95px) $pad 0;
	position: relative;
	overflow: hidden;
	@include bp($max:640px) {
		padding-top: emCalc(25px);	
	}
	h1 {
		margin: 0;
	}
	p {
		margin: emCalc(10px) 0 emCalc(20px);
	}
	.btn {
		margin: 0;
	}
	// Layout modifiers
	&--left {
		float: left;
	}
	&--right {
		float: right;
	}
}
/*------------------------------------*\
    ::  Static Specific Styles
\*------------------------------------*/
.hero-block--static {
	//height: emCalc(545px);
	height: emCalc(445px);
	@include bp($max:1024px) {
		height: emCalc(425px);
	}
	@include bp($max:640px) {
		height: emCalc(315px);
	}
}
/*------------------------------------*\
    ::  Video Specific Styles
\*------------------------------------*/
.hero-block--video {
	.hero-block__main-wrap {
		position: relative;
		iframe{
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		}
	}
	.hero-block__video-wrap {
	    position: relative;
	    padding-bottom: 56.25%;
	    height: 0;
	    width: 100%;
	}
	.hero-block__content {
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    width: 100%;
	    height: 100%;
	    
	}
	.hero-block__text {
		@include bp($max:400px) {
			padding: 15px $pad 0;
			p {
				margin-bottom: 10px;
			}
			.btn {
				height: 35px;
			}
		}
	}
}	
/*-------------------------------------------------*\
    ::  Adjust Top Margin if Admin Bar is visible
\*-------------------------------------------------*/ 
.admin-bar {
    .hero-block {
        margin-top: 77px;
        @include bp($max:782px) { // Admin bar gets taller here
            margin-top: 63px;
        }
        @include bp($max:640px) { // Admin bar gets shorter again
            margin-top: 44px;
        }
    }
}  