/**
 *
 * CTA Block
 *
 */
.cta-block {
	overflow: hidden;
	padding: 50px 0;
	width: 100%;

	h2 {
		font-size: 2rem;
		font-weight: 300;
		letter-spacing: 0.075rem;
		margin-bottom: 50px;
		text-align: center;

	}

	&__wrap {
		display: flex;
	}

	.cta {
		flex: 1 1 32%;
		padding: 0 0.9375em;
		text-align: center;

		img {
			display: inline-block;
			margin: 0 auto 15px;
			max-width: 100px;
		}

		h3 {
			font-size:  1.5rem;
			text-transform: uppercase;
		}

		p {
			font-size: 1.15rem;
			font-weight: 300;
			line-height: 1.5;
		}

	}
}
