/**
 *
 * CPT Grid
 *
 */
.cpt-grid {
	overflow: hidden;
	padding: 50px 0;
	width: 100%;

	&__inner {
		padding-left: 0;
		paddidng-right: 0;
	}


	.cpt-grid__wrap {
		display: flex;
		flex-wrap: wrap;
		transition: max-height 1000ms, opacity 1000ms, transform 1000ms;

		.cpt-grid__button-wrap {
			max-height: 43px;
			text-align: center;
			transition: max-height 1000ms;
			width: 100%;

			&.hidden {
				max-height: 0;
			}
		}

		&.hidden {
			height: 0;
			max-height: 0;
			transform: translateY(75px);
			opacity: 0;
		}

		&.fade-in {
			height: auto;
			max-height: 1500px;
			opacity: 1;
			transform: translateY(0);
		}
	}
}
