/**
 *
 * Hero Block Editor Styles
 *
 */
.wp-block {
	> .hero-block {
		background-position: top -100px right -100px;
		background-repeat: no-repeat;
		background-size: 65%;
		border-bottom: 1px solid var(--c-white);
		display: flex;
		margin: 0 auto;
		padding: 7rem 5rem;

		.hero-block__copy {
			width: 100%;
		}

		.hero-block__headline {
			width: 100%;

			.components-text-control__input {
				background-color: transparent;
				font-family: var(--f-main);
				font-size: 4.2rem;
				font-weight: 700;
				padding: 0;
				width: 100%;
			}
		}

		.hero-block__text {

			p {
				font-family: var(--f-main);
				font-size: 1.2rem;
				font-weight: 400;
				line-height: 1.3;
				max-width: 750px;
				width: 100%;
			}
		}

		.link-fields {
			bottom: auto;
			justify-content: flex-start;
			position: relative;
			right: auto;

			.link-fields__text {
				justify-content: flex-start;
			}
		}

		.hero-block__options {
			padding: 0 1rem;
			width: 50%;

			.image-picker {
				margin-right: 2%;
				width: 49%;
			}

			.color-picker {
				width: 49%;
			}
		}
	}

	&.is-selected,
	&.has-child-selected {

		.hero-block__copy {
			max-width: none;
			width: 50%;
		}

		.hero-block__options {
			display: flex;
		}
	}
}
