/**
 *
 * Card Text Admin Styles
 *
 */

.wp-block {
	> .card-text {
		padding: 2rem;
		width: 100%;

		.card-text__wrap {

			.block-editor-block-list__layout {
				display: flex;
				flex-wrap: wrap;
				width: 100%;

				> .wp-block {
					margin-bottom: 1rem !important;
					width: 100%;
				}
			}
		}

		.card-text__headline {
			width: 100%;

			.components-text-control__input {
				background-color: transparent;
				font-family: var(--f-main);
				font-size: 1.75rem;
				font-weight: 700;
				padding: 0;
				width: 100%;
			}
		}

		.card-text__text {
			font-family: var(--f-main);
			font-size: 1.1rem;
			font-weight: 400;
		}
	}
}
