/*------------------------------------*\
    :: Wrappers
\*------------------------------------*/	
[class*="__inner"] {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 $pad*2;
    @include bp($max: 500px) {
        padding: 0 $pad;
    }
}
[class*="__wide-inner"] {
    width: 100%;
    max-width: 825px;
    margin: 0 auto;
    padding: 0 $pad*2;
    @include bp($max: 500px) {
        padding: 0 $pad;
    }
}
[class*="__narrow-inner"] {
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
    padding: 0 $pad*2;
    @include bp($max: 500px) {
        padding: 0 $pad;
    }
}
[class*="__portfolio-inner"] {
    width: 100%;
    max-width: 1010px;
    margin: 0 auto;
    padding: 0 $pad*2;
    @include bp($max: 500px) {
        padding: 0 $pad;
    }
}
// Video Wrappers
[class*="__video"] {
    display: block;
    position: relative;
    padding: 0 0 56.25% 0;
    margin: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
}
[class*="__video"] iframe,
[class*="__video"] object,
[class*="__video"] embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}