/**
 *
 * Fleet Health Header
 *
 */
.fleet-header {

	@media (max-width: 650px) {
		background-color: var(--c-white);
		margin-bottom: 25px;
		padding: 15px 0;
	}

	.page-header__wrap {
		display: flex;

		@media (min-width: 651px) {
			flex-wrap: wrap;
		}
	}

	.back-link {

		@media (max-width: 650px) {
			border: none !important;
			border-radius: 0;
			height: 30px;
			min-width: 0;
			padding: 0 10px 0 0;

			.link__text {
				display: none;
			}

			.icon {
				margin-right: 0 !important;
			}
		}
	}

	.page-header__search-wrap {
		display: inline-block;

		@media (min-width: $bp-medium) {
			display: flex;
			justify-content: space-between;
			margin-top: 35px;
			width: 100%;
		}

		h1 {

			@media (max-width: 768px) {
				display: none;
			}
		}

		.button.pre-field {

			@media (max-width: 650px) {
				min-width: 78px;
				width: 78px !important;

				.button__text {
					font-size: 12px;
				}

				.icon {
					font-size: 9px;
					margin-left: 7px;
				}
			}
		}

		.button.post-field {
			@media (max-width: 650px) {
				min-width: 80px;
				width: 80px !important;
			}

			@media (max-width: 514px) {
				min-width: 40px;
				width: 40px !important;
			}
		}
	}
}
