/**
 *
 * Header Navigation Styles
 *
 */

/* Mobile Navigation */
@media (--bp-nav-mobile) {

	.site-header__nav {
		background-color: var(--c-purple);
		padding: 15px 0;
		position: absolute;
		right: -300px;
		top: 85px;
		transition: right 400ms;
		visibility: hidden;
		width: 300px;

		&[aria-expanded="true"] {
			right: 0;
			transition: right 400ms;
			visibility: visible;
		}

		/* General Styles for all nav levels */
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				height: auto;

				a {
					color: var(--c-white);
					display: inline-block;
					padding: 5px 15px;
					text-decoration: none;
					transition: color 400ms;

					&:hover,
					&:focus {
						color: var(--c-gray);
					}
				}
			}
		}

		/* Main Nav */
		> ul {
			display: flex;
			flex-wrap: wrap;
			width: 100%;

			> li {
				display: inline-block;
				position: relative;
				width: 100%;

				> a {
					align-items: center;
					display: flex;
					font-size: 16px;
				}
			}
		}

		/* Toggles */
		.toggle {
			align-items: center;
			display: flex;
			height: 30px; /* This height will vary based on design */
			justify-content: center;
			padding: 0;
			position: absolute;
			right: calc(var(--pad) * 1.5);
			top: 0;
			transition: opacity ease 400ms;
			width: 30px; /* This width will vary based on design */
			z-index: 10;

			.bar {
				backface-visibility: hidden;
				border: 1px solid var(--c-white);
				display: inline-block;
				position: absolute;
				transition: transform 400ms;
				width: 12px;

				&.top {
					transform: rotate(-180deg);
				}

				&.bottom {
					transform: rotate(-90deg);
				}
			}

			/* Modifier for Secondary Submenu Toggle */
			&.toggle--secondary {
				.bar {
					border-color: #cdcdcd;
					width: 6px;
				}
			}
		}

		/* Primay Submenu */
		.sub-menu--primary {
			max-height: 0;
			opacity: 0;
			transition: max-height 400ms, opacity 350ms;
			visibility: hidden;

			> li {
				align-items: center;
				display: flex;
				flex-wrap: wrap;
				width: 100%;

				> a:not(.toggle) {
					font-size: 14px;
					text-indent: 20px;
					width: 100%;
				}

				/* This can be removed if the nav does not have a third level */
				&.menu-item-has-children {
					position: relative;
				}
			}
		}

		/**
		*
		* Secondary Submenu
		* This can be removed if the nav does not have a third level
		*/
		.sub-menu--secondary {
			max-height: 0;
			opacity: 0;
			transition: max-height 400ms, opacity 350ms;
			visibility: hidden;
			width: 100%;

			> li {
				align-items: center;
				display: flex;
				flex-wrap: wrap;
				width: 100%;

				> a {
					font-size: 14px;
					text-indent: 40px;
					width: 100%;
				}
			}
		}

		/**
		*
		* Active Submenus
		*
		*/
		.menu-item-has-children.active {

			/* Rotate toggle icon */
			> .toggle {
				.bar {
					&.bottom {
						transform: rotate(0deg);
					}
				}
			}

			/* Expand primary submenu */
			.sub-menu--primary {
				height: auto;
				max-height: 10rem; /* This will vary based on # of submenu items */
				opacity: 1;
				visibility: visible;
			}

		}

		.sub-menu > .menu-item-has-children.active {

			/* Rotate toggle icon */
			.toggle {
				.bar {
					&.bottom {
						transform: rotate(0deg);
					}
				}
			}

			/* Expand secondary submenu */
			.sub-menu--secondary {
				height: auto;
				max-height: 10rem; /* This will vary based on # of submenu items */
				opacity: 1;
				visibility: visible;
			}
		}
	}

	/* Clickable overlay to close mobile nav */
	.menu-overlay {
		background-color: rgba(0, 0, 0, 0.45);
		bottom: 0;
		cursor: pointer;
		display: none;
		left: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		transition: opacity 400ms ease-in-out;
		z-index: 5;

		.nav-open & {
			display: block;
			opacity: 1;
		}
	}
}

/* Desktop Navigation */
.site-header__nav {
	height: 85px;
	width: auto;

	/* General Styles for all nav levels */
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			height: auto;

			a {
				color: var(--t-main);
				display: inline-block;
				text-decoration: none;
				transition: color 400ms;

				&:hover,
				&:focus {
					color: var(--c-purple);
				}
			}
		}
	}

	/* Main Nav Bar */
	> ul {
		display: flex;
		width: 100%;

		> li {
			display: inline-block;
			position: relative;

			> a {
				align-items: center;
				display: flex;
				font-size: 16px;
				height: 85px;
				padding: 0 15px;

				&:hover + .sub-menu--primary,
				&:focus + .sub-menu--primary {
					opacity: 1;
					top: 100%;
					visibility: visible;
				}
			}

			&:hover,
			&:focus-within {

				.sub-menu--primary {
					opacity: 1;
					top: 100%;
					visibility: visible;
				}
			}
		}
	}

	/* Submenu Toggles - Mobile Only */
	.toggle {
		display: none;
	}

	/* Primay Submenu */
	.sub-menu--primary {
		background-color: #f6f6f6;
		opacity: 0;
		padding: 10px 0;
		position: absolute;
		top: 108%;
		transition: opacity 400ms, top 400ms;
		visibility: hidden;
		width: 175px; /* This will vary based on design */
		z-index: 20;

		> li {
			align-items: center;
			display: flex;
			width: 100%;

			> a {
				font-size: 14px;
				padding: 5px 15px;
				width: 100%;

				/* This can be removed if the nav does not have a third level */
				&:hover + .sub-menu--secondary,
				&:focus + .sub-menu--secondary {
					left: 100%;
					opacity: 1;
					visibility: visible;
				}
			}

			/* This can be removed if the nav does not have a third level */
			&:hover,
			&:focus-within {

				.sub-menu--secondary {
					opacity: 1;
					top: 0;
					visibility: visible;
				}
			}

			/* This can be removed if the nav does not have a third level */
			&.menu-item-has-children {
				position: relative;
				z-index: 15;
			}
		}
	}

	/**
	*
	* Secondary Submenu
	* This can be removed if the nav does not have a third level
	*/
	.sub-menu--secondary {
		background-color: #f6f6f6;
		left: 100%;
		opacity: 0;
		padding: 10px 0;
		position: absolute;
		top: 30%;
		transition: top 400ms, opacity 400ms;
		visibility: hidden;
		width: 175px; /* This will vary based on design */
		z-index: -1;

		> li {
			align-items: center;
			display: flex;
			width: 100%;

			> a {
				font-size: 14px;
				padding: 5px 15px;
				width: 100%;
			}
		}
	}
}

