/**
 *
 * Editor Styles
 *
 */

.cta-boxes {

	.columns {

		@media (max-width: 767px) {
			grid-template-columns: 1fr;
		}
	}

	.cta-box {
		margin: 0;
		min-height: 350px !important;
		padding: 0 25px 46px !important; // Offsets the button
		position: relative;

		@media (min-width: 480px) {
			min-height: 350px !important;
			padding: 0 35px 0 !important;
		}

		@media (min-width: 640px) {
			min-height: 400px !important;
			padding: 0 75px !important;
		}

		@media (min-width: 768px) {
			min-height: 410px !important;
			padding: 0 35px !important;
		}

		@media (min-width: 1024px) {
			min-height: 410px !important;
			padding: 0 75px !important;
		}

		.wp-block-cover__inner-container.block-editor-block-list__layout {
			position: unset !important;
		}
	}
}
