/*------------------------------------*\
    ::  Careers Single View
\*------------------------------------*/	
.single-careers {
	#careers-sidebar {
		h2 {
			color: #6d6d6d;
			font-weight: bold;
		}
		ul {
			@include bp($max:768px) {
				border: none;
			}
		}
		li {
			@include bp($max:768px) {
				text-align: left;
			}
			a {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}