/*------------------------------------*\
    :: Map Block
\*------------------------------------*/
.map-block {
    width: 100%;
    overflow: hidden;
    background-color: $color-3-light;
}
.map-block__title-wrap {
    width: 100%;
    max-width: 750px;
    margin-left: 17%;
    padding: 0 0 1.5em 6em;
    transition: margin 400ms, padding 400ms;
    @include bp($max:1250px) {
        margin-left: 5%;
        padding: 0 0 1.5em 6em;
    }
    @include bp($max:1125px) {
        margin-left: $pad*2;
        padding-left: 4em;
    }
    @include bp($max:959px) {
        padding-left: 3em;
    }
    @include bp($max:500px) {
        padding: 0 0 1em $pad;
        h2 {
            font-size: 2em;
        }
    }
}
.map-block__shadow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background-color: $color-1;
    box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.25);
}
.map-block__content-wrap {
    padding-left: 17%;    
    transition: padding 400ms;
    @include bp($max:1250px) {
        padding-left: 5%;
    }
    @include bp($max:1125px) {
        padding-left: $pad*2;
    }
    @include bp($max:500px) {
        padding-left: $pad;
    }
}
.map-block__content {
    width: 65%;
    padding: 5em 6em;
    color: $color-3-light;
    transition: padding 400ms;
    @include bp($max:1125px) {
        padding: 3em 4em;
    }
    @include bp($max:959px) {
        width: 100%;
        padding: 3em;
    }
    @include bp($max:500px) {
        padding: $pad*2;
    }
    @include bp($max:380px) {
        padding: $pad*2 $pad;
    }
    h4 {
        margin-bottom: 0.25em;
        line-height: 1.3em;
        text-transform: uppercase;
    }
    h1 {
        font-size: 56px;
        @include bp($max:500px) {
            font-size: 40px;
        }
        @include bp($max:380px) {
            font-size: 30px;
        }
    }
}
.map-block__data-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-top: 2em;
    @include bp($max:639px) {
        justify-content: flex-start;
        margin-top: 1em;
    }
    div {
        width: 33.333%;

        @include bp($max:959px) {
            width: 33.333%;
            margin-bottom: 0;
        }
        @include bp($max:639px) {
            width: 100%;
            margin-bottom: 1em;
        }
        h4 {
            margin: 0;
        }
        p {
            margin: 0;
            font-size: 14px;
        }
        &:nth-of-type(2) {
            padding: 0 $pad;
            text-align: right;
            span {
                display: inline-block;
                text-align: left;
            }
            a {
                color: $color-3-light;
            }
            @include bp($max:639px) {
                text-align: left;
                padding: 0;
            }
        }
        &:last-of-type {
            text-align: right;
            span {
                display: inline-block;
                text-align: left;
            }
            @include bp($max:639px) {
                text-align: left;
                padding: 0;
                margin-bottom: 0;
            }
        }
    }
    .no-phone-link {
        color: $color-3-light!important;
    }
}
.map-block__map-wrap {
    height: 400px;
    width: 35%;
    @include bp($max:959px) {
        height: 325px;
        width: 100%;
    }
}
.map-block__map {
    height: 100%;
    width: 100%;
}
