/**
 *
 * Blog Grid Item
 *
 */
.blog-grid__item {
	margin: 30px 0;
	width: 100%;

	@media ( min-width: 641px ) {
		width: 48%;
		margin: 30px 1%;
	}

	@media ( min-width: 769px ) {
		margin: 30px 1%;
		width: 31.3336%;
	}

	.blog-grid__image {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 225px;
		width: 100%;
	}

	.blog-grid__headline {
		font-size: 32px;
		margin: 12px 0;
	}

	p {
		font-size: 18px;
		margin: 0;
	}

	.blog-grid__link {
		display: inline-block;
		font-size: 18px;
		margin-top: 15px;
	}
}
