/**
 *
 * 404 Page Styles
 *
 */

.error404 {

	.main-content--404 {
		width: 100%;
	}

	.site-container {
		align-items: center;
		display: flex;
		justify-content: center;
	}

	.fourofour {
		a {
			text-decoration: underline;
		}
	}
}
