/**
 *
 * Centered CTA Frontend Styles
 *
 */

.centered-cta {
	align-items: center;
	border-bottom: 1px solid var(--c-white);
	border-left: 2px solid var(--c-white);
	border-right: 2px solid var(--c-white);
	border-top: 1px solid var(--c-white);
	display: flex;
	flex-wrap: wrap;
	min-height: 250px;
	padding: 3rem 0;
	width: 100%;

	@media (--bp-medium) {
		min-height: 320px;
	}

	&__wrap {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		max-width: 1306px;
		padding: 0 3rem;
		width: 100%;
	}

	&__headline {
		margin-bottom: 2rem;
		text-align: center;
		width: 100%;
	}

	&__text {
		margin: 0 auto;
		max-width: 730px;
		text-align: center;
		width: 100%;
	}

	&__link-wrap {
		text-align: center;
		width: 100%;
	}

	&__link {
		align-items: center;
		display: inline-flex;
		font-size: 1.8rem;
		font-weight: 700;

		.far {
			font-size: 3rem;
			font-weight: 300;
			margin-left: 1rem;
			opacity: 0.4;
			transition: opacity 400ms;
		}

		&:hover {
			text-decoration: none;

			.far {
				opacity: 1;
				text-decoration: none;
			}
		}
	}
}
