/**
 *
 * Footer Navigation Styles
 *
 */

.site-footer__menu {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;

	> li {
		margin: 0 2.5rem;

		> a {
			color: inherit;
			font-size: 1.8rem;
			font-weight: 700;
			margin-bottom: 0.25rem;
			pointer-events: none;
			text-transform: uppercase;
		}
	}

	.sub-menu {
		list-style-type: none;
		margin: 0;
		padding: 0;

		> li {

			> a {
				color: inherit;
				font-size: 1.6rem;
				font-weight: 500;
				margin-bottom: 0.5rem;
			}
		}
	}
}
