/**
 *
 * Footer Styles
 *
 */

.site-footer {
	border-top: 1px solid var(--c-white);
	width: 100%;

	&__upper {
		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 3.5rem 0;
	}

	&__logo-wrap {
		margin-bottom: 4rem;
		text-align: center;
		width: 100%;

		@media (--bp-nav-desk) {
			margin-bottom: 0;
			width: auto;
		}
	}

	&__logo-link {
		display: inline-block;
		line-height: 0;
		margin-bottom: 0.5rem;
		width: 100%;
	}

	&__contact-info {
		color: inherit;
		margin-bottom: 0 !important;
		text-align: left;


		@media (--bp-nav-desk) {
			padding-left: 2.5rem;
		}

		a {
			color: inherit;
		}
	}

	&__nav-wrap {
		display: none;

		@media (--bp-nav-desk) {
			display: block;
		}
	}

	&__social-wrap {
		width: 100%;

		@media (--bp-nav-desk) {
			width: auto;
		}

		h5 {
			font-size: 1.5rem;
			margin-bottom: 1.2rem;
			text-align: center;
			text-transform: uppercase;
		}

		ul {
			align-items: center;
			display: flex;
			justify-content: center;
			list-style-type: none;
			margin: 0;
			padding: 0;

			a {
				align-items: center;
				color: inherit;
				display: flex;
				font-size: 2rem;
				justify-content: center;
				margin: 0 1rem;
			}
		}
	}

	hr {
		background-color: rgba(255, 255, 255, 0.2);
		margin: 0 auto;
		max-width: 1220px;
	}

	&__lower {
		align-items: center;
		display: flex;
		justify-content: center;
		padding: 3rem 0;
	}

	&__lower-links {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		margin: 0;
		padding: 0;

		> li {
			font-size: 1.2rem;
			font-weight: 500;

			@media (max-width: 400px) {
				margin: 0 0.5rem 0.5rem;
				text-align: center;
				width: 100%;
			}

			&::after {
				color: inherit;
				content: "|";
				display: inline-block;
				font-weight: 700;
				padding: 0 0.6rem;
				position: relative;
				top: -1px;

				@media (max-width: 400px) {
					display: none;
				}
			}

			&:last-of-type {

				@media (max-width: 400px) {
					margin-bottom: 0;
				}

				&::after {
					display: none;
				}
			}

			> a {
				color: inherit;
				font-size: inherit;
				font-weight: inherit;
			}
		}
	}
}
