/**
 *
 * Header Navigation Styles - Right Layout
 *
 */

/* Mobile Navigation */
@media (--bp-nav-mobile) {

	.site-header.default,
	.site-header.layout-1 {

		.site-header__nav-wrap {
			background-color: var(--c-white);
			bottom: 0;
			min-height: 100vh;
			opacity: 0;
			padding: 0 0 150px;
			position: absolute;
			right: -350px; /* 30px offest of __inner padding */
			top: 72px;
			transition:
				opacity 350ms var(--easeInSine),
				right 350ms var(--easeInSine),
				visibility 350ms var(--easeInSine);
			visibility: hidden;
			width: 320px;

			.header-collapsed & {
				top: 50px;
			}

			@media (min-width: 401px) {
				right: -355px;
				width: 325px;
			}

			&[aria-expanded="true"] {
				opacity: 1;
				overflow-y: scroll;
				right: -15px;
				transition: right 350ms var(--easeInSine);
				visibility: visible;

				@media (min-width: 401px) {
					right: -30px;
				}
			}

			/* General Styles for all nav levels */
			.site-header__nav {

				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;

					li {
						display: inline-block;
						height: auto;

						a {
							color: var(--c-black);
							display: inline-block;
							font-weight: var(--f-bold);
							padding: 1.4rem 2rem;
							text-decoration: none;
							text-transform: uppercase;
							transition:
								background-color 350ms var(--easeInSine),
								color 350ms var(--easeInSine);

							&:active,
							&:hover,
							&:focus {
								color: var(--c-black);
							}
						}
					}
				}

				/* Main Nav */
				> ul {
					display: flex;
					flex-wrap: wrap;
					padding-top: 1px;
					width: 100%;

					> li {
						border-bottom: 1px solid var(--c-lgray);
						display: inline-block;
						position: relative;
						width: 100%;

						> a {
							align-items: center;
							display: flex;
							font-size: 1.6rem;
							line-height: 1.5;
							transition:
								background-color 350ms var(--easeInSine),
								color 350ms var(--easeInSine);
						}

						&.active {

							> a {
								color: var(--c-zred);
							}

							.toggle .bar {
								border-color: var(--c-black);
							}
						}

						&.menu-item-has-children {

							> a {
								cursor: pointer;
							}
						}
					}
				}
			}

			/* Toggles */
			.toggle {
				align-items: center;
				background-color: transparent;
				display: flex;
				height: 52px; /* This height will vary based on height of li & a tag */
				justify-content: flex-end;
				outline: 0;
				padding: 0 1.3rem 0 !important;
				position: absolute;
				right: 0;
				top: 0;
				transition:
					color 350ms var(--easeInSine),
					opacity 350ms var(--easeInSine);
				width: 100%;
				z-index: 10;

				.bar {
					backface-visibility: hidden;
					border: 1px solid var(--c-black);
					display: inline-block;
					position: absolute;
					transition:
						border 350ms var(--easeInSine),
						transform 350ms var(--easeInSine);
					width: 12px;

					&.top {
						transform: rotate(-180deg);
					}

					&.bottom {
						transform: rotate(-90deg);
					}
				}

				/* Modifier for Secondary Submenu Toggle */
				&.toggle--secondary {
					.bar {
						border-color: var(--c-lgray);
						width: 6px;
					}
				}
			}

			/* Primay Submenu */
			.sub-menu--primary {
				background-color: var(--c-white);
				opacity: 0;
				transition: opacity 350ms, visibility 350ms;
				visibility: hidden;

				> li {
					align-items: center;
					display: flex;
					flex-wrap: wrap;
					width: 100%;

					> a:not(.toggle) {
						color: var(--c-dgray);
						font-size: 1.4rem;
						font-weight: var(--f-book);
						padding: 1.3rem 2rem;
						text-transform: none;
						width: 100%;

						&:hover {
							background-color: var(--c-lgray);
						}
					}

					/* This can be removed if the nav does not have a third level */
					&.menu-item-has-children {
						position: relative;
					}
				}
			}

			/**
			*
			* Active Submenus
			*
			*/
			.menu-item-has-children.active {

				/* Rotate toggle icon */
				> .toggle {
					.bar {
						&.bottom {
							transform: rotate(0deg);
						}
					}
				}

				/* Expand primary submenu */
				.sub-menu--primary {
					opacity: 1;
					visibility: visible;
				}

			}

			.sub-menu > .menu-item-has-children.active {

				/* Rotate toggle icon */
				.toggle {
					.bar {
						&.bottom {
							transform: rotate(0deg);
						}
					}
				}

				/* Expand secondary submenu */
				.sub-menu--secondary {
					height: auto;
					max-height: 10rem; /* This will vary based on # of submenu items */
					opacity: 1;
					visibility: visible;
				}
			}
		}

		/* Clickable overlay to close mobile nav */
		.menu-overlay {
			background-color: rgba(0, 0, 0, 0.45);
			bottom: 0;
			cursor: pointer;
			left: 0;
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
			transition:
				opacity 350ms var(--easeInSine),
				visibility 350ms var(--easeInSine);
			visibility: hidden;
			z-index: 15;

			.nav-open & {
				min-height: 2500px;
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

@media (--bp-nav-desk) {

	.site-header.default,
	.site-header.layout-1 {

		.site-header__nav {

			/* General Styles for all nav levels */
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;

				li {
					display: inline-block;
					height: auto;

					a {
						display: inline-block;
						font-weight: var(--f-bold);
						text-decoration: none;
						text-transform: uppercase;
						transition:
							background-color 350ms var(--easeInSine),
							color 400ms var(--easeInSine);
					}
				}
			}

			/* Main Nav Bar */
			> ul {
				align-items: center;
				display: flex;
				height: 8.6rem;
				transition: height 350ms var(--easeInSine);
				width: 100%;

				> li {
					margin: 0 0.85rem;
					position: relative;

					@media (min-width: 1130px) {
						margin: 0 0.9rem;
					}

					@media (min-width: 1300px) {
						margin: 0 1.2rem;
					}

					> a {
						font-size: 1.2rem;
						letter-spacing: 0.03rem;
						position: relative;
						text-align: center;
						transition: font-size 350ms var(--easeInSine);

						@media (min-width: 1130px) {
							font-size: 1.4rem;
						}

						@media (min-width: 1300px) {
							font-size: 1.5rem;
						}

						&:hover + .sub-menu--primary,
						&:focus + .sub-menu--primary {
							opacity: 1;
							top: 87px;
							visibility: visible;
						}
					}

					&:hover,
					&:focus-within {
						> a {
							color: #666;

							&::after {
								visibility: visible;
							}
						}

						.sub-menu--primary {
							border: 1px solid var(--c-lgray);
							border-top: none;
							opacity: 1;
							top: 54px;
							visibility: visible;
						}
					}

					&.current-menu-item {
						> a {
							color: var(--t-main);
						}
					}

					&.menu-item-has-children {
						> a {
							cursor: pointer;

							/* Hidden element that keeps the dropdown hovered */
							&::after {
								background-color: transparent;
								content: "";
								height: 67px;
								left: 0;
								position: absolute;
								top: 20px;
								visibility: hidden;
								width: 200px;
							}
						}

						&:hover {
							> a {

								/* Hidden element that keeps the dropdown hovered */
								&::after {
									visibility: visible;
								}
							}
						}
					}

					&.mobile-only {
						display: none;
					}
				}
			}

			/* Submenu Toggles - Mobile Only */
			.toggle {
				display: none;
			}

			/* Primay Submenu */
			.sub-menu--primary {
				background-color: var(--c-white);
				border: 1px solid transparent;
				border-top: none;
				left: -20px;
				min-width: 260px; /* This will vary based on design */
				opacity: 0;
				padding: 0;
				position: absolute;
				top: 70px;
				transition: opacity 350ms var(--easeInSine), top 350ms var(--easeInSine);
				visibility: hidden;

				> li {
					align-items: center;
					display: flex;
					width: 100%;

					&:last-of-type {
						border-bottom: none;
					}

					> a {
						color: var(--c-gray);
						font-size: 1.5rem;
						font-weight: var(--f-default);
						letter-spacing: 0.03rem;
						padding: 1rem 2.5rem;
						text-transform: none;
						width: 100%;

						&:hover,
						&:focus {
							background-color: var(--c-lgray);
							color: var(--t-main);
						}
					}
				}
			}

			.header-collapsed {
				.site-header__menu {

					/* Primay Submenu */
					.sub-menu--primary {
						top: 70px;
					}

					> li {

						> a {

							@media (min-width: 1300px) {
								font-size: 1.4rem;
							}

							&:hover + .sub-menu--primary,
							&:focus + .sub-menu--primary {
								top: 54px;
							}
						}

						&:hover,
						&:focus-within {

							.sub-menu--primary {
								top: 54px;
							}
						}

						&.solid-button {

							a {

								@media (min-width: 1300px) {
									font-size: 1.4rem;
								}
							}
						}
					}
				}
			}
		}

		.nav-with-button {

			.site-header__menu > li {

				&:last-of-type {
					margin-left: 1.4rem;
					margin-right: 0;

					a {
						@extend .btn--solid;
						font-size: 1.2rem;
						line-height: 1;
						transition: font-size 350ms var(--easeInSine);

						@media (min-width: 1130px) {
							font-size: 1.4rem;
						}

						@media (min-width: 1300px) {
							font-size: 1.5rem;
						}
					}
				}
			}
		}

		.site-header__mobile-links {
			display: none;
		}
	}
}
