/*-------------------------------------------*\
    ::Page Styles - Orthodontist vs Dentist
\*-------------------------------------------*/
.page-orthodontist-or-dentist {
    .page__group--intro {
        padding: 35px 0 40px;
    }
    .page__group--benefits {
        padding: 30px 0 40px;
        h3 {
            padding-top: 10px;
        }
        .btn {
            margin-top: 20px;
        }
    }
    
}