/**
 *
 * Card Image Frontend Styles
 *
 */

.card-image {
	width: 100%;

	&__bg-image {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
		height: 100%;
		line-height: 0;
		overflow: hidden;
		width: 100%;
	}

}
