/**
 *
 * Four Column Layout Editor Styles
 *
 */

.wp-block { /* Main Block */

	/* General Styles */
	> .column-block {

		.column-block__wrap {
			display: flex;
		}

		.block-editor-inner-blocks {
			width: 100%;
		}

		.block-editor-block-list__layout {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			width: 100%;
		}

		.wp-block { /* Nested Block */
			border: 1px solid var(--c-white);
			overflow: hidden;
			padding: 0;
			position: relative;

			&:first-of-type {
				border-left: none;
			}

			&:last-of-type {
				border-right: none;
			}

			.column-block__column {
				min-height: 320px;
			}
		}

		.block-list-appender {
			display: none;
		}
	}

	/* Column Modifiers */
	> .column-block--two-column {

		/* Layout Modifiers */
		.layout--default {

			.wp-block {
				width: 50%;
			}
		}

		.layout--layout-1 { /* 25% | 75% */

			.wp-block {

				&:nth-of-type(1) {
					width: 25%;
				}

				&:nth-of-type(2) {
					width: 75%;
				}
			}
		}

		.layout--layout-2 { /* 75% | 25% */

			.wp-block {

				&:nth-of-type(1) {
					width: 75%;
				}

				&:nth-of-type(2) {
					width: 25%;
				}
			}
		}

		.layout--layout-3 { /* 33.3% | 66.6% */

			.wp-block {

				&:nth-of-type(1) {
					width: 33.3336%;
				}

				&:nth-of-type(2) {
					width: 66.6664%;
				}
			}
		}

		.layout--layout-4 { /* 66.6% | 33.3% */

			.wp-block {

				&:nth-of-type(1) {
					width: 66.6664%;
				}

				&:nth-of-type(2) {
					width: 33.3336%;
				}
			}
		}

		.layout--layout-5 { /* 40% | 60% */

			.wp-block {

				&:nth-of-type(1) {
					width: 40%;
				}

				&:nth-of-type(2) {
					width: 60%;
				}
			}
		}

		.layout--layout-6 { /* 60% | 40% */

			.wp-block {

				&:nth-of-type(1) {
					width: 60%;
				}

				&:nth-of-type(2) {
					width: 40%;
				}
			}
		}
	}

	> .column-block--three-column {

		/* Layout Modifiers */
		.layout--default {

			.wp-block {
				width: 33.3336%;
			}
		}

		.layout--layout-1 {

			.wp-block {

				&:nth-of-type(1) {
					width: 50%;
				}

				&:nth-of-type(2) {
					width: 25%;
				}

				&:nth-of-type(3) {
					width: 25%;
				}
			}
		}

		.layout--layout-2 {

			.wp-block {

				&:nth-of-type(1) {
					width: 25%;
				}

				&:nth-of-type(2) {
					width: 25%;
				}

				&:nth-of-type(3) {
					width: 50%;
				}
			}
		}
	}

	> .column-block--four-column {

		.wp-block {
			width: 25%;
		}
	}

	&.is-selected,
	&.has-child-selected {
		.block-list-appender {
			display: inline-block;
		}
	}
}
