/**
 *
 * Four Column Layout Front End Styles
 *
 */

.column-block {

	.column-block__wrap {
		border-bottom: 1px solid var(--c-white);
		border-left: 2px solid var(--c-white);
		border-right: 2px solid var(--c-white);
		border-top: 1px solid var(--c-white);
		display: flex;
		flex-wrap: wrap;
	}

	/* Column Modifiers */
	&--two-column {

		/* Default Layout */
		.column-block__column {
			border-bottom: 2px solid var(--c-white);
			min-height: 250px;
			position: relative;
			width: 100%;

			&:last-of-type {
				border-bottom: none;
			}

			@media (min-width: 640px) {
				border-bottom: none;
				border-right: 2px solid var(--c-white);
				min-height: 320px;
				width: 50%;

				&:last-of-type {
					border-right: none;
				}
			}
		}

		/* Layout Modifiers */
		.layout--layout-1 { /* 25% | 75% */

			.column-block__column {
				width: 100%;

				@media (--bp-medium) {
					&:nth-of-type(1) {
						width: 40%;
					}

					&:nth-of-type(2) {
						width: 60%;
					}
				}

				@media (min-width: 960px) {
					&:nth-of-type(1) {
						width: 25%;
					}

					&:nth-of-type(2) {
						width: 75%;
					}
				}
			}
		}

		.layout--layout-2 { /* 75% | 25% */
			.column-block__column {
				width: 100%;

				@media (--bp-medium) {
					&:nth-of-type(1) {
						width: 60%;
					}

					&:nth-of-type(2) {
						width: 40%;
					}
				}

				@media (min-width: 960px) {
					&:nth-of-type(1) {
						width: 75%;
					}

					&:nth-of-type(2) {
						width: 25%;
					}
				}
			}
		}

		.layout--layout-3 { /* 33.3% | 66.6% */
			.column-block__column {
				width: 100%;

				@media (--bp-medium) {

					&:nth-of-type(1) {
						width: 33.3336%;
					}

					&:nth-of-type(2) {
						width: 66.6664%;
					}
				}
			}
		}

		.layout--layout-4 { /* 66.6% | 33.3% */

			.column-block__column {
				width: 100%;

				@media (--bp-medium) {

					&:nth-of-type(1) {
						width: 66.6664%;
					}

					&:nth-of-type(2) {
						width: 33.3336%;
					}
				}
			}
		}

		.layout--layout-5 { /* 40% | 60% */

			.column-block__column {
				width: 100%;

				@media (--bp-medium) {

					&:nth-of-type(1) {
						width: 40%;
					}

					&:nth-of-type(2) {
						width: 60%;
					}
				}
			}
		}

		.layout--layout-6 { /* 60% | 40% */

			.column-block__column {
				width: 100%;

				@media (--bp-medium) {

					&:nth-of-type(1) {
						width: 60%;
					}

					&:nth-of-type(2) {
						width: 40%;
					}
				}
			}
		}
	}

	&--three-column {

		/* Default Layout */
		.column-block__column {
			border-bottom: 2px solid var(--c-white);
			border-right: 2px solid var(--c-white);
			min-height: 250px;
			position: relative;
			width: 100%;

			&:last-of-type {
				border-bottom: none;
				border-right: none;
			}

			@media (--bp-medium) {
				border-bottom: none;
				min-height: 320px;
				width: 33.3336%;
			}
		}

		/* Layout Modifiers */
		.layout--layout-1 {

			.column-block__column {

				&:nth-of-type(1) {
					border-bottom: 1px solid var(--c-white);
					border-right: none;
					width: 100%;

					@media (min-width: 960px) {
						border-bottom: none;
						border-right: 2px solid var(--c-white);
						width: 50%;
					}
				}

				&:nth-of-type(2) {
					border-bottom: 1px solid var(--c-white);
					border-right: none;
					border-top: 1px solid var(--c-white);
					width: 100%;

					@media (--bp-medium) {
						border-bottom: none;
						border-right: 2px solid var(--c-white);
						width: 50%;
					}

					@media (min-width: 960px) {
						width: 25%;
					}
				}

				&:nth-of-type(3) {
					border-right: none;
					border-top: 1px solid var(--c-white);
					width: 100%;

					@media (--bp-medium) {
						width: 50%;
					}

					@media (min-width: 960px) {
						width: 25%;
					}
				}
			}
		}

		.layout--layout-2 {

			.column-block__column {

				&:nth-of-type(1) {
					border-bottom: 1px solid var(--c-white);
					border-right: none;
					width: 100%;

					@media (min-width: 960px) {
						border-bottom: none;
						border-right: 2px solid var(--c-white);
						width: 25%;
					}
				}

				&:nth-of-type(2) {
					border-bottom: 1px solid var(--c-white);
					border-right: none;
					border-top: 1px solid var(--c-white);
					width: 100%;

					@media (--bp-medium) {
						border-bottom: none;
						border-right: 2px solid var(--c-white);
						width: 50%;
					}

					@media (min-width: 960px) {
						border-top: none;
						width: 25%;
					}
				}

				&:nth-of-type(3) {
					border-top: 1px solid var(--c-white);
					width: 100%;

					@media (--bp-medium) {
						border-bottom: none;
						width: 50%;
					}

					@media (min-width: 960px) {
						border-top: none;
						width: 50%;
					}
				}
			}
		}
	}

	&--four-column {

		/* Default Layout */
		.column-block__column {
			border-bottom: 2px solid var(--c-white);
			min-height: 250px;
			padding: 2rem 2rem 7rem;
			position: relative;
			width: 100%;

			&:last-of-type {
				border-bottom: none;
			}

			@media (--bp-medium) {
				border-bottom: 2px solid var(--c-white);
				border-right: 2px solid var(--c-white);
				min-height: 320px;
				width: 50%;

				&:nth-of-type(2) {
					border-right: none;
				}

				&:nth-of-type(3) {
					border-bottom: none;
				}

				&:nth-of-type(4) {
					border-bottom: none;
					border-right: none;
				}
			}

			@media (--bp-large) {
				width: 25%;

				&:nth-of-type(1),
				&:nth-of-type(2) {
					border-bottom: none;
				}

				&:nth-of-type(2) {
					border-right: 2px solid var(--c-white);
				}
			}
		}
	}
}
