/*------------------------------------*\
    ::  Testimonial Layout
\*------------------------------------*/
.testimonial {
	.testimonial__text {
		width: 82%;
		margin: em(150px) auto;
		@include bp($max:768px) {
			width: 100%;
			margin: em(120px) 0;
			padding: 0 $pad*2;
		}
		@include bp($max:640px) {
			margin: em(70px) 0;
		}
		@include bp($max:480px) {
			padding: 0 $pad;
		}
	}
}