/**
 *
 * General Block Admin Styles
 *
 */

/* Responsive Images */
img {
	display: block;
	height: auto;
	max-width: 100%;
}

.wp-block {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	max-width: none;
	width: 100%;
}

.block-editor {

	/* Main Wrapper Styles */
	[class*="__inner"] {
		margin: 0 auto;
		max-width: 1306px;
		padding-left: 3rem;
		padding-right: 3rem;
		width: 100%;

		@media (min-width: 501px) {
			padding-left: 5rem;
			padding-right: 5rem;
		}

		@media (min-width: 1024px) {
			padding-left: 7rem;
			padding-right: 7rem;
		}
	}

	label {
		display: inline-block;
		font-family: var(--f-main);
		font-size: 13px;
		font-weight: 700;
		margin: 0 4px 0 0;
		width: 100%;
	}

	input[type="color"],
	input[type="date"],
	input[type="datetime-local"],
	input[type="datetime"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	input[type="url"],
	input[type="week"],
	select,
	textarea {
		color: var(--c-black);
	}

	.block-editor-plain-text,
	.rich-text {
		background-color: transparent;
		border: none;
		border-radius: 0;
		margin-bottom: 1rem;

		&:focus,
		&:focus-within {
			border: none;
			box-shadow: none;
		}
	}

	.rich-text {

		[data-rich-text-placeholder="Text"] {
			font-weight: 400;
		}
	}

	.components-toggle-control {

		.components-base-control__field {
			margin-bottom: 0.5rem;
		}

		.components-base-control__help {
			margin-bottom: 0 !important;
			text-align: left;
		}
	}

	.block-editor-url-input__button-modal {
		border-radius: 4px;
	}

	.block-editor-url-input__button-modal-line {
		align-items: center;
	}

	.components-color-picker__inputs-toggle-wrapper {
		align-items: flex-end;
		display: flex;
	}

	.components-panel {

		.components-color-picker__inputs-wrapper {
			align-items: flex-end;
			display: flex;
		}

		.components-color-picker__inputs-field {
			margin-bottom: 0;
		}
	}

	.components-color-picker {
		max-width: 300px;
	}

	.components-color-picker__inputs-field {

		.components-text-control__input {
			font-weight: 400;
		}
	}

	.components-panel__row {
		flex-wrap: wrap;
		margin-bottom: 2rem;

		label {
			display: inline-block;
			font-family: var(--f-main) !important;
			font-size: 13px !important;
			font-weight: 700;
			margin: 0 4px 4px 0 !important;
			width: 100% !important;
		}
	}

	.media-wrap {

		button {
			box-shadow: none;
			padding: 0;

			&:hover,
			&:focus {
				box-shadow: none !important;
			}

			svg {

				border: 1px solid #000;
				border-radius: 4px;
				display: inline-block;
				height: 25px;
				margin-right: 5px;
				padding: 3px;
				width: 25px;
			}
		}
	}
}
