/**
 *
 * FAQ page styles
 *
 */
.faqs {

	h1 {
		margin-bottom: 30px;

		@media (min-width: $bp-large) {
			margin-bottom: 50px;
		}
	}

	&__item {
		border-bottom: 1px solid var(--c-gray-20);
		margin-bottom: 30px;
		padding-bottom: 35px;

		&:last-of-type {
			border-bottom: none;
		}

		h2 {
			color: var(--c-red-60);
			margin-bottom: 15px;
		}

		p {

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	.icons-list {
		margin-top: 20px;

		@media (min-width: 481px) {
			margin-top: 30px;
		}
	}
}
