:root {

	/**
	 *
	 * Admin Variables Using CSS Custom Properties
	 * https://preset-env.cssdb.org/features#custom-properties
	 *
	 * Example usage: color: var(--some-color);
	 *
	 */

	/* Colors */
	--c-black: #000;
	--c-white: #FFF;
	--c-blue: #007cba; /* WP blue button color */
	--c-gray: #7e8993; /* WP border color for inputs */
	--c-lgray: #EEE;
	--c-dgray: #1e1e1e; /* Button Background Color */
	--c-hgray: #555555; /* Button Hover Background Color */

}
