:root {

	/**
	 *
	 * Global Variables Using CSS Custom Properties
	 * https://preset-env.cssdb.org/features#custom-properties
	 *
	 * Example usage: color: var(--some-color);
	 *
	 */

	/* Brand Colors */


	/* Grayscale Colors */
	--c-black: #000000;
	--c-white: #FFFFFF;
	--c-lgray: #EEEEEE;
	--c-gray: #666666;
	--c-dgray: #444444;

	/* Text Colors */
	--t-main: var(--c-black);

	/* Fonts */
	--f-main: "Open Sans", sans-serif;

	/* Font Weights */
	--w-300: 300;
	--w-400: 400;
	--w-700: 700;

	/* Utilities */
	--pad: 1.5rem;


	/* Style Guide Assignments */
	--sg-header-bg-color: var(--c-lgray);
	--sg-header-headline-color: var(--c-black);
	--sg-header-link-color: var(--c-black);
	--sg-header-link-underline: var(--c-gray);
	--sg-section-headline-color: var(--c-black);
	--sg-color-1: var(--c-black);
	--sg-color-2: var(--c-black);
	--sg-color-3: var(--c-black);
	--sg-color-4: var(--c-black);
	--sg-font-1: var(--t-main);

	/* --sg-font-2: var(--f-textured); */
}

/**
* Custom Media Queries
* Must be outside Root To Cascade Properly
* Breakpoints Using CSS Custom Media Queries
* https://preset-env.cssdb.org/features#custom-media-queries
*
* Example usage: @media (--bp-small) {}
*
* Pixel to Rem Converter - Default Pixel Size 16
* https://www.ninjaunits.com/converters/pixels/pixels-rem/
*
*
*/
@custom-media --bp-small ( min-width: 480px );
@custom-media --bp-medium ( min-width: 768px );
@custom-media --bp-large ( min-width: 1024px );
@custom-media --bp-xlarge ( min-width: 1200px );
@custom-media --bp-xxlarge ( min-width: 1440px );
@custom-media --bp-nav-mobile ( max-width: 1023px );
@custom-media --bp-nav-desk ( min-width: 1024px );
