/**
 *
 * Hero Block Editor Styles
 *
 */

.hero-block {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	margin: 0 auto;
	padding: 8rem 0;
	position: relative;

	@media (--bp-small) {
		padding: 8rem 0;
	}

	@media (--bp-medium) {
		padding: 12rem 0;
	}

	&::before {
		background-color: rgba(0, 0, 0, 0.3);
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 5;
	}

	&__inner {
		display: flex;
		position: relative;
		z-index: 15;
	}

	&__headline {
		margin-bottom: 1rem;
		position: relative;
		z-index: 10;

		.components-text-control__input {
			background-color: transparent;
			border: none !important;
			color: var(--c-white) !important;
			font-family: var(--f-main);
			font-size: 3.3rem !important;
			font-weight: 700;
			line-height: 1.1;
			padding: 0 !important;
			text-shadow: 0 0 15px rgba(0, 0, 0, 0.45);
		}
	}

	&__text {
		font-family: var(--f-main);
		font-size: 1.1rem;
		font-weight: 400;
		position: relative;
		z-index: 10;

		p {
			color: var(--c-white);
			max-width: 730px;
			text-shadow: 0 0 15px rgba(0, 0, 0, 0.45);
		}
	}

	&__image {
		display: none;
	}

	/* Block Selected Styles */
	.is-selected &,
	&:focus-within {
		background-image: none !important;
		padding: 4rem 0 !important;
		position: relative;

		&::before {
			display: none;
		}

		.hero-block__copy {
			max-width: 600px;
			width: calc(100% - 360px);
		}

		.hero-block__headline {
			line-height: 1.1 !important;

			.components-text-control__input {
				background-color: var(--c-white);
				border: 1px solid #7e8993 !important;
				border-radius: 4px;
				color: var(--c-black) !important;
				font-size: 13px !important;
				font-weight: 400 !important;
				max-width: 600px;
				padding: 6px 8px !important;
				text-shadow: none;
			}
		}

		.hero-block__text {
			background-color: var(--c-white);
			border: 1px solid #7e8993 !important;
			border-radius: 4px;
			color: var(--c-black);
			font-size: 13px !important;
			font-weight: 400 !important;
			max-width: 600px;
			padding: 6px 8px !important;
			text-shadow: none;

			p {
				color: var(--c-black);
				text-shadow: none;
			}

			&:focus,
			&:focus-within {
				border: 2px solid #7e8993 !important;
			}
		}

		.hero-block__image {
			display: block;
			max-width: 360px;
			padding-left: 60px;
		}
	}
}
