/**
 *
 * Media and File Picker Styles
 *
 */

.picker {
	overflow: hidden;

	label {
		display: block;
		margin-bottom: 8px;
	}

	&__preview-wrap {
		margin-bottom: 10px;
		overflow: hidden;
	}

	&__preview-url {
		display: flex;
		margin-top: 10px;
		width: 100%;
	}

	&__add-button {
		margin: 0 0 2px 2px;
	}

	&__preview-remove {
		height: 20px;
		padding: 0;
	}

	&__preview-icon {

		.dashicons-media-text {
			display: inline-block;
			font-size: 40px;
			height: 40px;
			width: 40px;
		}
	}
}