/*------------------------------------*\
    ::  Careers Main View
\*------------------------------------*/
.careers {
	background-color: $color-2;
	.careers__select-wrap {
		select {
			cursor: pointer;
			opacity: 0;
		}
		.select-box--blue {
			background-color: $color-1-light;
			color: $color-2;
			cursor: pointer;
			line-height: 50px;
			text-align: left;
			span {
				color: $color-2;
				font-size: emCalc(20px);
				line-height: 50px;
			}
			.arrow-down {
				svg {
					fill: $color-2;
				}
			}
		}
	}
	&__post {
		h5 {
			text-transform: none;
		}
	}
}		