/*------------------------------------*\
    ::  Blog Single Page Layout
\*------------------------------------*/	
.single {
	.single-torso__inner {
		padding: 50px $pad 50px;
		@include bp($max:768px) {
			padding: 25px 0 0;
		}
	}
	.single-torso__content {
		position: relative;
		&:after {
			content: '';
			width: 2px;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			@include bp($max:768px) {
				display: none;
			}
 		}
	}
	.single-torso__hero {
		width: 100%;
		height: 350px;
		position: relative;
		@include bp($max:550px) {
			height: 300px;
		}
		@include bp($max:400px) {
			height: 250px;
		}
		@include bp($max:350px) {
			height: 225px;
		}
		.hero__overlay {
			padding: $pad 0;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			@include bp($max:375px) {
				text-align: center;
			}
		}
	}
	.social-links {
		width: 100%;
		margin: 0;
		padding: 0 0 0 10px;
		overflow: hidden;
		@include bp($max:375px) {
			display: inline-block;
			width: auto;
			padding: 0;
		}
		li {
			float: left;
			margin: 0 8px;
			a {
				display: block;
				margin: 0;
				padding: 0;
				svg {
					height: 20px;
					width: 20px;
				}
			}
		}
	}
	.single-torso__posted {
		width: 100%;
		overflow: hidden;
		position: relative;
		h4 {
			width: 80%;
			margin: 20px 0 0 0;
			@include bp($max:700px) {
				width: 100%;
			}
		}
		.post-date {
			position: absolute;
			top: 20px;
			right: 0;
			@include bp($max:768px) {
				position: static;
				display: inline-block;
				width: 100%;
				margin-top: 12px;
			}
		}
		.tag__wrap {
			margin-top: 15px;
		}
		.tag-icon {
			height: 14px;
			width: 14px;
			margin: 0 5px 0 0;
			position: relative;
			top: 1px;
			@include bp($max:700px) {
				display: inline-block;
			}
		}
	}
}