/*------------------------------------*\
    ::Extends
    ----------------------------------*
    ::Buttons
    ::Icons
\*------------------------------------*/
/*------------------------------------*\
    ::Buttons
\*------------------------------------*/
/*------------------------------------*\
    ::Icons
\*------------------------------------*/
#kss-node {
  background: #008154;
  /*------------------------------------*\
      ::Theme Customizations
  \*------------------------------------*/
  /*------------------------------------*\
      ::Color Swatches
  \*------------------------------------*/
  /*------------------------------------*\
      ::Prettify Styling
      ----------------------------------*
      ::see https://code.google.com/p/google-code-prettify/source/browse/trunk/styles/desert.css
  \*------------------------------------*/
  /* desert scheme ported from vim to google prettify */
  /* string  - pink */
  /* comment - skyblue */
  /* type    - lightgreen */
  /* literal - darkred */
  /* punctuation */
  /* plaintext */
  /* html/xml tag    - lightyellow */
  /* attribute name  - khaki */
  /* attribute value - pink */
  /* decimal         - lightgreen */
  /* Specify class=linenums on a pre to get line numbering */
  /* IE indents via margin-left */
  /* Alternate shading for lines */
}
#kss-node .kss-style {
  color: #42545b;
}
#kss-node .kss-style a:link, #kss-node .kss-style a:visited {
  color: #00abeb;
  -webkit-transition: 300ms;
          transition: 300ms;
}
#kss-node .kss-style a:hover, #kss-node .kss-style a:active {
  color: #abc5dd;
}
#kss-node .kss-doc-title {
  text-align: center;
  color: #006743;
  font-weight: bold;
}
#kss-node .kss-title .kss-title__ref {
  color: #959595;
}
#kss-node .kss-title a {
  color: #096644 !important;
}
#kss-node .kss-modifier__heading {
  color: #959595;
  border: 0;
  background-color: transparent;
  border-radius: .5em .5em 0 0;
}
#kss-node .kss-modifier__heading:before {
  content: "[";
}
#kss-node .kss-modifier__heading:after {
  content: "]";
}
#kss-node .kss-main {
  padding-top: 30px;
}
#kss-node .kss-section {
  background: #fff;
  padding: 1em;
  border-radius: .5em;
}
@media only screen and (max-width: 768px) {
  #kss-node .kss-section {
    max-width: 100%;
  }
}
#kss-node .kss-modifier__wrapper {
  border-color: #eee;
  border-radius: 1em 1em 0 0;
  background-color: #f6f6f6;
  background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 1rem 1rem;
  background-position: 0 0, .5rem .5rem;
}
#kss-node .kss-description code {
  border: 1px solid #eee;
  padding: .2em;
  color: #006743;
}
#kss-node .kss-modifier__example:after {
  content: "";
  display: table;
  clear: both;
}
#kss-node .kss-sidebar {
  background: #fff;
  border-radius: .5em;
}
@media only screen and (min-width: 769px) {
  #kss-node .kss-sidebar {
    position: fixed;
    bottom: 30px;
    top: 0;
    overflow-y: auto;
    width: 18%;
    margin-left: 1%;
    margin-top: 30px;
    padding: .5em .5em .5em 0;
  }
}
@media only screen and (max-width: 768px) {
  #kss-node .kss-sidebar {
    padding: 1em;
    margin-bottom: 20px;
  }
}
#kss-node .kss-sidebar .kss-nav__menu {
  padding-left: .5em;
}
#kss-node .kss-sidebar .kss-nav__menu-child {
  padding-left: .7em;
}
#kss-node .kss-sidebar .kss-nav__menu-item:first-child {
  border: 0;
  margin-top: 0;
  padding-top: 0;
}
#kss-node .kss-sidebar .kss-nav__menu-item:last-child {
  border: 0;
}
#kss-node .kss-sidebar .kss-nav__menu-item a:link, #kss-node .kss-sidebar .kss-nav__menu-item a:visited {
  overflow: hidden;
  display: inline-block;
  width: 100%;
  margin-bottom: .2em;
  padding-right: .4em;
  border: 1px solid rgba(0, 103, 67, 0);
  line-height: 1.2;
  color: #959595;
  border-radius: .2em;
  -webkit-transition: 300ms;
          transition: 300ms;
}
#kss-node .kss-sidebar .kss-nav__menu-item a:hover, #kss-node .kss-sidebar .kss-nav__menu-item a:active {
  background-color: #006743;
  border-color: #006743;
  color: #fff !important;
}
#kss-node .kss-sidebar .kss-nav__menu-item a:hover .kss-nav__ref, #kss-node .kss-sidebar .kss-nav__menu-item a:active .kss-nav__ref {
  color: #006743;
}
#kss-node .kss-sidebar .kss-nav__ref {
  display: inline-block;
  width: auto;
  padding: .05em .4em;
  margin-right: .4em;
  background-color: #fff;
  font-weight: 100;
  color: #959595;
  -webkit-transition: 300ms;
          transition: 300ms;
}
#kss-node .swatch {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
#kss-node .swatch__item {
  display: inline-block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 220px;
  height: 150px;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  text-shadow: 0 1px 5px #000;
  border: 1px solid #e4e4e4;
}
#kss-node .swatch__item code {
  color: #fff;
}
#kss-node pre.prettyprint {
  display: block;
  background-color: #333;
}
#kss-node pre .nocode {
  background-color: none;
  color: #000;
}
#kss-node pre .str {
  color: #ffa0a0;
}
#kss-node pre .kwd {
  color: #f0e68c;
  font-weight: bold;
}
#kss-node pre .com {
  color: #87ceeb;
}
#kss-node pre .typ {
  color: #98fb98;
}
#kss-node pre .lit {
  color: #cd5c5c;
}
#kss-node pre .pun {
  color: #fff;
}
#kss-node pre .pln {
  color: #fff;
}
#kss-node pre .tag {
  color: #f0e68c;
  font-weight: bold;
}
#kss-node pre .atn {
  color: #bdb76b;
  font-weight: bold;
}
#kss-node pre .atv {
  color: #ffa0a0;
}
#kss-node pre .dec {
  color: #98fb98;
}
#kss-node ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #AEAEAE;
}
#kss-node li.L0, #kss-node li.L1, #kss-node li.L2, #kss-node li.L3, #kss-node li.L5, #kss-node li.L6, #kss-node li.L7, #kss-node li.L8 {
  list-style-type: none;
}
@media print {
  #kss-node pre.prettyprint {
    background-color: none;
  }
  #kss-node pre .str, #kss-node code .str {
    color: #060;
  }
  #kss-node pre .kwd, #kss-node code .kwd {
    color: #006;
    font-weight: bold;
  }
  #kss-node pre .com, #kss-node code .com {
    color: #600;
    font-style: italic;
  }
  #kss-node pre .typ, #kss-node code .typ {
    color: #404;
    font-weight: bold;
  }
  #kss-node pre .lit, #kss-node code .lit {
    color: #044;
  }
  #kss-node pre .pun, #kss-node code .pun {
    color: #440;
  }
  #kss-node pre .pln, #kss-node code .pln {
    color: #000;
  }
  #kss-node pre .tag, #kss-node code .tag {
    color: #006;
    font-weight: bold;
  }
  #kss-node pre .atn, #kss-node code .atn {
    color: #404;
  }
  #kss-node pre .atv, #kss-node code .atv {
    color: #060;
  }
}
#kss-node .linenums li {
  border-color: #3D3D3D !important;
}
#kss-node .linenums li:nth-child(even) {
  background: #333 !important;
}
#kss-node .linenums li:nth-child(odd) {
  background: #2D2D2D !important;
}
