/**
 *
 * Frontend Styles
 *
 */
.centered-text {

	&__text {
		padding: 0 var(--wp--custom--padding--small);
	}

	&__links {
		margin-top: 30px;
	}

	/* Background not full-width */
	&.layout-width--centered {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
}

// remove padding if inside article page
.post-type-post,
.single-post {

	.centered-text {
		padding-bottom: var(--wp--custom--padding--medium);
		padding-top: var(--wp--custom--padding--medium);
	}
}
