{
	extends: "stylelint-config-wordpress",
	plugins: [
		"stylelint-declaration-use-variable",
		"stylelint-order"
	],
	rules: {
		"rule-empty-line-before": null,
		"at-rule-empty-line-before": [ 'always', {
			except: ['blockless-after-blockless', 'inside-block'],
			ignore: ['after-comment', 'inside-block', 'first-nested'],
			ignoreAtRules: ['extend', 'if', 'function']
		} ],
		"at-rule-no-unknown": [ true, {
			"ignoreAtRules": ['extend', 'if', 'function']
		} ],
		"block-opening-brace-newline-after": 'always-multi-line',
		"block-closing-brace-newline-before": 'always-multi-line',
		"color-named": [ null, { severity: 'warning' } ],
		"function-url-quotes": "always",
		"no-descending-specificity": null,
		"no-eol-whitespace": null,
		"order/properties-alphabetical-order": [ true, { severity: "warning" } ],
		"selector-class-pattern": null
	}
}
