/**
 *
 * Frontend Styles
 *
 */
.columns {
	--gap: var(--wp--custom--padding--small);
	--offset-50: 10px;
	--offset-33: 14px;
	--offset-25: 15px;
	--offset-20: 16px;
	--offset-16: 17px;
	gap: var(--gap);
	margin-top: 0;
	width: 100%;

	&.gap--medium {
		--gap: 30px;
		--offset-50: 15px;
		--offset-33: 20px;
		--offset-25: 23px;
		--offset-20: 24px;
		--offset-16: 25px;
	}

	&.gap--large {
		--gap: 50px;
		--offset-50: 25px;
		--offset-33: 34px;
		--offset-25: 38px;
		--offset-20: 40px;
		--offset-16: 42px;
	}

	.column {
		width: 100%;
	}
}

/**
 *
 * Flex Modifiers
 *
 */
.columns--flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	&.columns--2 {

		@media (min-width: 640px) {
			.column {
				width: calc(50% - var(--offset-50));
			}
		}
	}

	&.columns--3 {

		@media (min-width: 640px) {
			.column {
				width: calc(50% - var(--offset-50));
			}
		}

		@media (min-width: 1024px) {
			.column {
				width: calc(33.33% - var(--offset-33));
			}
		}
	}

	&.columns--4 {

		@media (min-width: 640px) {
			.column {
				width: calc(50% - var(--offset-50));
			}
		}

		@media (min-width: 1024px) {
			.column {
				width: calc(25% - var(--offset-25));
			}
		}
	}

	&.columns--5 {

		@media (min-width: 640px) {
			.column {
				width: calc(50% - var(--offset-50));
			}
		}

		@media (min-width: 1024px) {
			.column {
				width: calc(33.33% - var(--offset-33));
			}
		}

		@media (min-width: 1200px) {
			.column {
				width: calc(20% - var(--offset-20));
			}
		}
	}

	&.columns--6 {

		@media (min-width: 640px) {
			.column {
				width: calc(50% - var(--offset-50));
			}
		}

		@media (min-width: 1024px) {
			.column {
				width: calc(33.33% - var(--offset-33));
			}
		}

		@media (min-width: 1200px) {
			.column {
				width: calc(16.6666666667% - var(--offset-16));
			}
		}
	}
}

/**
 *
 * Grid Modifiers
 *
 */
.columns--grid {
	display: grid;
	grid-template-columns: 1fr;

	&.columns--2 {

		@media (min-width: 640px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&.columns--3 {

		@media (min-width: 640px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: 1024px) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&.columns--4 {

		@media (min-width: 640px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: 1024px) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&.columns--5 {

		@media (min-width: 640px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: 1024px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (min-width: 1200px) {
			grid-template-columns: repeat(5, 1fr);
		}
	}

	&.columns--6 {

		@media (min-width: 640px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: 1024px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (min-width: 1200px) {
			grid-template-columns: repeat(6, 1fr);
		}
	}
}
