/**
 *
 * Add/Edit User
 *
 */
.add-user,
.edit-user {

	.modal__children {
		padding: 30px 0 35px;

		@media (min-width: 640px) {
			padding: 45px 45px 65px;
		}
	}

	.field-flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0 20px;

		>div {
			margin-bottom: 15px;
			width: 100%;

			@media (min-width: 480px) {
				width: calc(50% - 10px);
			}

			@media (min-width: 640px) {
				width: calc(50% - 20px);
			}

			&:nth-of-type(odd) {

				@media (min-width: 480px) {
					margin-right: 20px;
				}

				@media (min-width: 640px) {
					margin-right: 40px;
				}
			}
		}
	}

	.field-grid {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}

	.status-fields {
		max-width: 400px;
		margin: 0;

		>label {
			margin-bottom: 8px;
		}

		&__box {
			border: 1px solid var(--c-tech-5);
			border-radius: var(--radius-xsmall);
			padding: 0;
		}

		.select-field {

			label {
				padding-left: 0;
			}
		}

		.send-invite {
			margin-top: 25px;
		}

		.slide-toggle {

			.label-right {
				font-weight: normal;
			}
		}

		&.pending-fields {

			.checkbox-field {
				margin-bottom: 15px;
			}

			.select-field {
				opacity: 0.25;
				pointer-events: none;
				transition: opacity var(--default-duration) var(--default-easing);

				>label {
					margin-bottom: 0;
				}
			}

			&.resend--checked {
				.select-field {
					opacity: 1;
					pointer-events: auto;
				}
			}
		}
	}
}

.edit-user {

	.modal__header-lower .edit-mode {

		@media (max-width: 767px) {
			display: inline-block;
		}
	}
}
