/**
 *
 * Bulk Fleet Access
 *
 */
.fleet-access{

	.modal__children {
		padding-top: 30px;
	}

	.fleet-checkboxes {
		margin: 20px auto 25px;
		max-width: 250px;
		width: 100%;

		@media (min-width: 480px) {
			margin: 35px auto 50px;
		}
	}
}
