/**
 *
 * Header Nav
 *
 */
.site-header__nav {
	display: flex;
	justify-content: flex-end;
	width: 100%;

	ul {
		align-items: center;
		display: flex;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			align-items: center;
			display: flex;
			margin-right: 1.5rem;

			&:last-of-type {
				margin-right: 0;
			}

			a {
				display: inline-block;
				padding: 1rem;
			}
		}
	}
}
