/**
 *
 * Header Styles
 *
 */
.site-header {

	&__wrap {
		align-items: center;
		display: flex;
		padding: 2rem 0;
		position: relative;
	}

	&__logo {
		display: inline-block;
		width: 75px;
	}

	&__nav-toggle {
		background-color: var(--c-lgray);
		display: inline-block;
		height: 50px;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 50px;

		@media (--bp-nav-desk) {
			display: none;
		}
	}

	&__nav-wrap {
		height: 100%;
		width: calc(100% - 100px);
	}
}
