/*------------------------------------*\
    :: Extends
\*------------------------------------*/
// Assign fonts a class
%pn-xbold {  // Headline 2
    font-family: ProximaNova-Extrabld, serif;
    font-weight: normal;
    font-style: normal;
}
%pn-black { // Headline 5
    font-family: ProximaNova-Black, serif;
    font-weight: normal;
    font-style: normal;
}
%bn-book {
    font-family: bebas_neuebook, serif;
    font-weight: normal;
    font-style: normal;
}
%rb-light {
    font-family: Roboto, serif;
    font-weight: 300;
    font-style: normal;
}
%rb-black {
    font-family: Roboto, serif;
    font-weight: 900;
    font-style: normal;
}
%h1 {
    @extend %bn-book;
    font-size: 3.5em;
    text-transform: uppercase;
    letter-spacing: 7px;
}
%h2 {
    @extend %pn-xbold;
    font-size: 2.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.2em;
}
%h3 {
    @extend %bn-book;
    font-size: 1.9em;
    text-transform: uppercase;
    letter-spacing: 0.075em;
}
%h4 {
    @extend %rb-black;
    font-size: 1em;
    letter-spacing: 0.04em;
    line-height: 1.75em;
}
%h5 {
    @extend %pn-black;
    font-size: 0.95em;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}
%h6 {
    @extend %pn-xbold; // Still unknown
    font-size: 0.9em;
    letter-spacing: 0.04em;
}
/*------------------------------------*\
    :: Gradients & Overlays
\*------------------------------------*/    
%beige-gradient {
    background-image: -webkit-linear-gradient(rgba(244,246,237,0.25) 0%, #E6E9D6 56%, rgba(230,233,214,0.25) 100%);
    background-image: -o-linear-gradient(rgba(244,246,237,0.25) 0%, #E6E9D6 56%, rgba(230,233,214,0.25) 100%);
    background-image: linear-gradient(rgba(244,246,237,0.25) 0%, #E6E9D6 56%, rgba(230,233,214,0.25) 100%);
}
%gradient-top {
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.00) 49%, rgba(0,0,0,0.75) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.00) 49%, rgba(0,0,0,0.75) 100%);
    background-image: linear-gradient(to top, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.00) 49%, rgba(0,0,0,0.75) 100%);
}
%gradient-bottom {
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.00) 47%, rgba(0,0,0,0.75) 96%);
    background-image: -o-linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.00) 47%, rgba(0,0,0,0.75) 96%);
    background-image: linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.00) 47%, rgba(0,0,0,0.75) 96%);
}
%white-overlay {
    background-image: -webkit-linear-gradient(#FFFFFF 0%, rgba(255,255,255,0.90) 50%, #FCFDFB 100%);
    background-image: -o-linear-gradient(#FFFFFF 0%, rgba(255,255,255,0.90) 50%, #FCFDFB 100%);
    background-image: linear-gradient(#FFFFFF 0%, rgba(255,255,255,0.90) 50%, #FCFDFB 100%);
}
%portfolio-overlay {
    background: -moz-linear-gradient(top, rgba(255,255,255,0.9) 0%, rgba(252,253,251,0.9) 50%, rgba(252,253,251,1) 85%, rgba(252,253,251,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.9) 0%,rgba(252,253,251,0.9) 50%,rgba(252,253,251,1) 85%,rgba(252,253,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(252,253,251,0.9) 50%,rgba(252,253,251,1) 85%,rgba(252,253,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#fcfdfb',GradientType=0 ); /* IE6-9 */
}