/*------------------------------------*\
    ::  Lessons CTA Styles
\*------------------------------------*/
.lessons-cta {
	background-color: $color-4-lightest;
	&__img-wrap {
		height: 100%;
		width: 100%;
		max-width: 2050px;
		margin: 0 auto;
		background-position: right center;
		background-repeat: no-repeat;
		// Hve to do some nudging because IE 10 doesn't support VW for BG Position
		@include bp($max:1850px) {
			background-position: 125% -180px;
			background-repeat: no-repeat;
		}
		@include bp($max:1575px) {
			background-position: 140% -180px;
		}
		@include bp($max:1450px) {
			max-width: none;
			background-position: 150% -180px;
		}
		@include bp($max:1375px) {
			background-position: 170% -180px;
		}
		@include bp($max:1275px) {
			background-position: 180% -180px;
		}
		@include bp($max:1175px) {
			background-position: 235% -180px;
		}
		@include bp($max:1075px) {
			max-width: 1375px;
			background-position: 670px -180px;
		}
		@include bp($max:960px) {
			background-position: 570px -180px;
		}
		@include bp($max:768px) {
			background-position: 470px -180px;
		}
		@include bp($max:700px) {
			background-image: none!important; // Override inline styles
		}
	}
	&__inner {
		height: 100%;
		padding: 0 $pad*2;
	}
	&__content-wrap {
		height: 100%;
		min-height: 450px;
		width: 100%;
		position: relative;
		@include bp($max:850px) {
			height: auto;
			min-height: 0;
		}
		@include bp($max:700px) {
			max-width: 500px;
			margin: 0 auto;
		}
	}
	&__promo-wrap {
		width: 100%;
		max-width: 245px;
		position: absolute;
		top: 2em;
		bottom: 2em;
		left: 0;
		background-color: #666;
		background-image: url('images/modules/lessons-cta/vertical-promo.jpg');
		@extend %bg-cover;
		@include bp($max:959px) {
			display: block;
			height: 75px;
			max-width: 575px;
			width: 100%;
			margin: 1.75em 0 2.75em;
			position: static;
			background-image: url('images/modules/lessons-cta/horizontal-promo.jpg');
		}
		@include bp($max:767px) {
			max-width: 520px; 
		}
	}
	&__text {
		width: 35vw;
		max-width: 395px;
		padding-top: 4em;
		margin-left: 280px;
		@include bp($max:1850px) {
			max-width: 485px;
		}
		@include bp($max:1850px) {
			max-width: 465px;
		}
		@include bp($max:959px) {
			width: 100%;
			max-width: 550px;
			margin: 0;
			padding-top: 2.75em;
		}
		@include bp($max:875px) {
			width: 60vw;
		}
		@include bp($max:767px) {
			width: 55vw;
		}
		@include bp($max:700px) {
			width: 100%;
		}
		h3 {
			margin: 0;
			font-size: 1.75em;
			line-height: 1.1em;
			strong {
				color: $color-2;
			}
		}
		p {
			margin: 1.75em 0 0;
			font-size: 0.9em;
		}
		.btn {
			margin-bottom: 0;
		}
	}
}	
/*------------------------------------*\
    ::  KSS MarkUp (Ignore)
\*------------------------------------*/   
// Lessons CTA
//
// Demo:<br><a href="../modules/module-lessons-cta.php" target="_blank">module-lessons-cta.php</a>
//
// Stylesheet:<br>
// <a href="../sass/structure/modules/_module_lessons-cta.scss" target="_blank">_module_lessons_cta.scss</a><br>
//
// Path To The Code:<br>
// golftec/golftec/modules/module-lessons-cta.php
//
// Markup:
// <article class="lessons-cta main-torso__group">
//     <div class="lessons-cta__img-wrap" style="background-image: url('../images/modules/lessons-cta/cta-bg.png')">
//         <div class="lessons-cta__inner">
//             <div class="lessons-cta__content-wrap">
//                 <div class="lessons-cta__text">
//                     <h3><strong>Game Plans</strong><br>Serious Improvement</h3>
//                     <p>A comprehensive Game Plan is the most effective way to build a solid, dependable swing that includes all the elements necessary for serious improvement. Every GolfTEC Game Plan starts with a Swing Evaluation and includes a series of lessons with your GolfTEC Certified Personal Coach, TECfit club fitting, and video-based practice. Learn more about Game Plans at GolfTEC!​</p>
//                     <a class="lessons-cta__btn btn" href="#">Start Today</a>
//                 </div>
//                 <a class="lessons-cta__promo-wrap" href="#"></a>
//             </div> <!-- // lessons-cta__content-wrap -->
//         </div> <!-- // lessons-cta__inner -->
//     </div> <!-- // lessons-cta__img-wrap -->
// </article> <!-- // lessons-cta -->
//
// Styleguide 6.21