/*------------------------------------*\
    ::  Fitting CTA Styles
\*------------------------------------*/	
.fitting-ctas {
	display: flex;
	flex-wrap: wrap;
	&__box {
		height: 38em;
		width: 50%;
		position: relative;
		overflow: hidden;
		@extend %bg-cover;
		@include bp($max:767px) {
			height: 28em;
			width: 100%;
		}
		@include bp($max:500px) {
			height: 31em;
			width: 100%;
		}
		&:after { // Gradient Overlay
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.7+100 */
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
			opacity: 0;
			transition: opacity 600ms;
			@include bp($max:960px) {
				opacity: 1;
			}
		}
		.box__title {
			display: inline-block;
			padding: $pad;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 20;
			background-color: rgba(18, 129, 65, 0.74);
			color: $color-3;
			font-family: $fam-heading;
			font-size: 1em;
			letter-spacing: 0.075em;
			text-align: center;
			text-transform: uppercase;
			transition: background-color 600ms;
		}
		.box__text-wrap {
			width: 100%;
			max-width: 360px;
			margin: 0 auto;
			position: absolute;
			bottom: -100%;
			left: 50%;
			z-index: 10;
			transform: translateX(-50%);
			transition: bottom 600ms, opacity 900ms;
			opacity: 1;
			p {
				color: $color-3;
				font-style: italic;
			}
			@include bp($max:1024px) {
				max-width: none;
				left: 0;
				right: 0;
				transform: translateX(0);
				padding: 0 $pad*2;
			}
			@include bp($max:960px) {
				bottom: 1em;
			}
			@include bp($max:500px) {
				.box__btn {
					font-size: 0.9em;
				}
			}
		}
		&:hover {
			&:after {
				opacity: 1;
			}
			.box__title {
				background-color: rgba(18, 129, 65, 1);
			}
			.box__text-wrap {
				bottom: 2em;
				opacity: 1;
				@include bp($max:960px) {
					bottom: 1em;
				}
			}
		}
	}
}
/*------------------------------------*\
    ::  KSS MarkUp (Ignore)
\*------------------------------------*/   
// Fitting CTAs
//
// Demo:<br><a href="../modules/module-fitting-ctas.php" target="_blank">module-fitting-ctas.php</a>
//
// Stylesheet:<br>
// <a href="../sass/structure/modules/_module_fitting_ctas.scss" target="_blank">_module_fitting_ctas.scss</a><br>
//
// Path To The Code:<br>
// golftec/golftec/modules/module-fitting-ctas.php
//
// Markup:
// <article class="fitting-ctas main-torso__group">
//     <div class="fitting-ctas__box" style="background-image: url('../images/modules/fitting-ctas/bg-1.jpg')">
//         <span class="box__title">Golf Lessons</span>
//         <div class="box__text-wrap">
//             <p>More than 6 million lessons taught. A 96% success rate. 200 locations worldwide. Learn about out comprehensive approach to game improvement that has helped thousands of golfers play better and enjor the game more.</p>
//             <a class="box__btn btn" href="#">Get A Swing Evaluation</a> 
//         </div> <!-- // box__text-wrap -->
//     </div> <!-- // fitting-ctas__box -->
//     <div class="fitting-ctas__box" style="background-image: url('../images/modules/fitting-ctas/bg-2.jpg')">
//         <span class="box__title">Professional Equipment</span>
//         <div class="box__text-wrap">
//             <p>More than 6 million lessons taught. A 96% success rate. 200 locations worldwide. Learn about out comprehensive approach to game improvement that has helped thousands of golfers play better and enjor the game more.</p>
//             <a class="box__btn btn" href="#">Get A Swing Evaluation</a> 
//         </div> <!-- // box__text-wrap -->
//     </div> <!-- // fitting-ctas__box -->
// </article> <!-- // fitting-ctas -->
//
// Styleguide 6.19