/*------------------------------------*\
    ::  Center Details Styles
\*------------------------------------*/
.center-details {
	background-color: $color-4-lightest;
	&__inner {
		padding: 3em $pad*2;
		@include bp($max:960px) {
			padding: 2em $pad*2;
		}
		@include bp($max:500px) {
			padding: 1em $pad;
		}
	}
	// Map Styles
	&__map-wrap {
		position: relative;
		z-index: 10;
		border: 1px solid #a1a1a1;
		@include bp($max:500px) {
			height: 370px;
		}
		.center-details__map {
			height: 390px;
			width: 100%;
			@include bp($max:960px) {
				height: 320px;
			}
			@include bp($max:500px) {
				height: 270px;
			}
		}
		.directions__link,
		.regional__link {
			display: inline-block;
			height: 49%;
			width: 150px;
			padding: $pad;
			position: absolute;
			right: 0;
			z-index: 15;
			background-color: rgba(225, 33, 39, 0.85);
			transition: background-color 400ms, width 400ms;
			div {
				position: absolute;
				bottom: $pad;
			}
			img, svg {
				height: 50px;
				width: 50px;
				fill: $color-3;
			}
			p {
				margin: 0.25em 0 0 0;
				color: $color-3;
				font-size: 1em;
				text-transform: uppercase;
				line-height: 1.25em;
				vertical-align: bottom;
			}
			@include bp($max:500px) {
				height: 95px;
				width: 49%;
				transition: height 400ms;
				div {
					transition: padding 400ms;
				}
				img, svg {
					height: 28px;
					width: 28px;
				}
				p {
					margin: 0.5em 0 0 0;
					font-size: 0.8em;
				}
			}
			&:hover {
				width: 165px;
				background-color: rgba(225, 33, 39, 1);
				@include bp($max:500px) {
					height: 115px;
					width: 49%;
					div {
						padding-bottom: 15px;
					}
				}
			}
		}
		.directions__link {
			top: 0;
			@include bp($max:500px) {
				top: auto;
				bottom: 0;
				left: 0;
			}
		}
		.regional__link {
			bottom: 0;
		}
	}
	&__text-wrap {
		display: flex;
		flex-wrap: wrap;
		margin-top: 2.05em;
	}
	&__hours {
		width: 30%;
		padding-right: $pad;
		h5 { // Location Title
			margin: 0;
			font-weight: bold;
		}
		a { // Tel: Link
			display: inline-block;
			margin-top: 1em;
			font-size: 1.5em;
			font-weight: bold;
		}
		ul { // Hours
			margin: 1.55em 0 0 0;
			padding: 0;
			list-style-type: none;
		}
		li {
			margin-bottom: 0.4em;
			font-family: $fam-heading;
			font-size: 0.85em;
			font-style: italic;
			font-weight: bold;
			text-transform: uppercase;
			strong {
				color: $color-1;
			}
		}
		@include bp($max:960px) {
			a {
				font-size: 2.5vw;
			}
			li {
				font-size: 1.65vw;
			}
		}
		@include bp($max:640px) {
			width: 100%;
			a {
				font-size: 1.25em;
			}
			li {
				font-size: 0.9em;
			}
		}
	}
	&__details-wrap {
		width: 70%;
		text-align: right;
		@include bp($max:640px) {
			width: 100%;
			text-align: left;
		}
	}
	&__details {
		display: inline-block;
		max-width: 725px;
		padding: 0 $pad;
		h5 {
			margin: 0;
			text-align: left;
		}
		p {
			font-size: 0.9em;
			text-align: left;
		}
		@include bp($max:640px) {
			width: 100%;
			margin-top: 1.75em;
			padding: 0;
			h5 {
				font-size: 1.05em;
			}
		}
	}
}	
/*------------------------------------*\
    ::  KSS MarkUp (Ignore)
\*------------------------------------*/    
// Center Details
//
// Demo:<br><a href="../modules/module-center-details.php" target="_blank">module-center-details.php</a>
//
// Stylesheet:<br>
// <a href="../sass/structure/modules/_module_center_details.scss" target="_blank">_module_center_details.scss</a><br>
//
// Path To The Code:<br>
// golftec/golftec/modules/module-center-details.php<br>
// golftec/golftec/js/map-src/map.js
//
// Markup:
// <article class="center-details main-torso__group">
//     <div class="center-details__inner">
//         <div class="center-details__map-wrap">
//             <a class="directions__link" href="#">
//                 <div>
//                     <img src="../images/modules/center-details/directions-icon.svg" alt="Directions Icon">
//                     <p>Need<br>Directions?</p>
//                 </div>
//             </a> <!-- // directions__link -->
//             <a class="regional__link" href="#">
//                 <div>
//                     <img src="../images/modules/center-details/regional-icon.svg" alt="Regional Icon">
//                     <p>Regional<br>Locations</p>
//                 </div>
//             </a> <!-- // regional__link -->
//             <div id="js-center-map" class="center-details__map">
//                 <div class="js-map-marker map-block__marker" data-lat="39.708856" data-lng="-104.941762" style="display: none;">
//                     <div class="map__marker">
//                         <div class="marker__distance">
//                             <strong>7.2</strong><br>
//                             <span>Miles<br>Away</span>
//                         </div>
//                         <div class="marker__details">
//                             <h5>Cherry Creek</h5>
//                             <a href="tel:3033884832">303.388.4832</a>
//                             <p>3773 Cherry Creek Drive<br>North #130 Denver, CO</p>
//                         </div>
//                         <a class="btn" href="#">Center Details Page</a>
//                     </div> <!-- // map__marker -->
//                 </div> <!-- // map-block__marker -->
//             </div> <!-- // center-details__map -->
//         </div> <!-- // center-details__map-wrap -->
//         <div class="center-details__text-wrap">
//             <div class="center-details__hours">
//                 <h5>Fort Collins South<br>Golf Lessons</h5>
//                 <a href="tel:9706925270">(970) 692-5270</a>
//                 <ul>
//                     <li><strong>Monday</strong> 8:00 AM-8:00 PM</li>
//                     <li><strong>Tuesday</strong> 8:00 AM-8:00 PM</li>
//                     <li><strong>Wednesday</strong> 8:00 AM-8:00 PM</li>
//                     <li><strong>Thursday</strong> 8:00 AM-8:00 PM</li>
//                     <li><strong>Friday</strong> 8:00 AM-8:00 PM</li>
//                     <li><strong>Saturday</strong> 8:00 AM-8:00 PM</li>
//                     <li><strong>Sunday</strong> 8:00 AM-8:00 PM</li>
//                 </ul>
//             </div> <!-- // center-details__hours -->
//             <div class="center-details__details-wrap">
//                 <div class="center-details__details">
//                     <h5>4637 S. Mason St. Suite A4 Fort Collins, CO 80525</h5>
//                     <p class="hide-mobile">For golfers in Fort Collins looking for golf lessons, golf instruction, or custom golf club fitting, GolfTEC Fort Collins South is the answer. At our state-of-the-art Improvement Center you'll find all the tools you need to help you improve your golf game. Our Certified Personal Coaches have years of instructional experience and they use the latest golf technology to help players of any age or skill level reach their goals. In addition to all of our indoor services, we offer outdoor and on-course golf lessons at local golf courses to enhance your golf improvement experience. Whether you are looking to win your club championship or just getting started with the game, golf lessons with GolfTEC Fort Collins South is the perfect solution for you.</p>
//                     <p>We are conveniently located off of Mason Street just southwest of the intersection of Harmony and College on the east side of Walmart at 4637 S. Mason Street, Suite A4.</p>
//                 </div> <!-- // center-details__details -->
//             </div> <!-- // center-details__details-wrap -->
//         </div> <!-- // center-details__text-wrap -->
//     </div> <!-- // center-details__inner -->
// </article> <!-- // center-details -->
//
// Styleguide 6.11