/**
 *
 * Slide Toggle
 *
 */
.slide-toggle {

	&__wrap {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
	}

	label {

		&.label-top {
			display: block;
			margin-bottom: 8px;
			width: 100%;
		}

		&.label-right {
			display: inline-block;
			margin-bottom: 0;
			padding: 0 15px;
			width: calc(100% - 50px);
		}
	}

	&__ui-wrap {
		position: relative;
		width: 50px;
	}

	input[type="checkbox"] {
		appearance: none;
		border-radius: var(--radius-default);
		cursor: pointer;
		height: 32px;
		opacity: 0;
		position: relative;
		width: 50px;
		z-index: 3;
	}

	&__toggle {
		align-items: center;
		border-radius: var(--radius-default);
		background-color: var(--c-gray-20);
		display: inline-flex;
		height: 32px;
		left: 0;
		padding: 6px;
		position: absolute;
		top: 0;
		width: 50px;

		.slide-toggle__circle {
			background-color: var(--c-white);
			border-radius: 50%;
			display: inline-block;
			height: 20px;
			width: 20px;
		}

		/* Toggle On */
		&.toggle--on {
			background-color: var(--c-red-10);
			justify-content: flex-end;

			.slide-toggle__circle {
				background-color: var(--c-red-60);
			}
		}
	}
}
