/**
 *
 * Text Input
 *
 */
.text-input {
	position: relative;
	width: 100%;

	::-webkit-input-placeholder {
		/* Chrome/Opera/Safari */
		color: var(--c-gray-40);
		font-size: 14px;
	}

	::-moz-placeholder {
		/* Firefox 19+ */
		color: var(--c-gray-40);
		font-size: 14px;
	}

	:-ms-input-placeholder {
		/* IE 10+ */
		color: var(--c-gray-40);
		font-size: 14px;
	}

	:-moz-placeholder {
		/* Firefox 18- */
		color: var(--c-gray-40);
		font-size: 14px;
	}

	input[type="text"],
	input[type="search"],
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="tel"] {
		appearance: none;
		background-image: none;
		background-position: right -20px center;
		background-repeat: no-repeat;
		background-size: 20px;
		border: 1px solid var(--c-gray-20);
		border-radius: var(--radius-xsmall);
		display: block;
		font-size: 16px;
		outline: none;
		padding: 0 10px;
		transition: background-color var(--default-duration) var(--default-easing),
			background-position var(--default-duration) var(--default-easing),
			border-color var(--default-duration) var(--default-easing);
		width: 100%;

		&:hover,
		&.hover {
			background-color: var(--c-gray-10);
		}

		&:focus,
		&.focus {
			background-color: var(--c-white);
			border: 1px solid var(--c-black);
			outline: none !important;
		}

		&:disabled {
			color: var(--c-gray-50);
			opacity: 0.65;
		}
	}

	&__validation-message {
		color: var(--c-error);
		font-size: 14px;
		margin-top: 2px;
	}

	/* Size Modifiers */
	&.large {

		input[type="text"],
		input[type="search"],
		input[type="password"],
		input[type="email"],
		input[type="url"],
		input[type="tel"] {
			height: 42px;

			&.success,
			&.error {
				padding-right: 35px;
			}
		}
	}

	&.medium {

		::-webkit-input-placeholder {
			/* Chrome/Opera/Safari */
			font-size: 13px;
		}

		::-moz-placeholder {
			/* Firefox 19+ */
			font-size: 13px;
		}

		:-ms-input-placeholder {
			/* IE 10+ */
			font-size: 13px;
		}

		:-moz-placeholder {
			/* Firefox 18- */
			font-size: 13px;
		}

		input[type="text"],
		input[type="search"],
		input[type="password"],
		input[type="email"],
		input[type="url"],
		input[type="tel"] {
			background-size: 18px;
			font-size: 13px;
			height: 32px;

			&.success,
			&.error {
				padding-right: 33px;
			}
		}

		.text-input__validation-message {
			font-size: 12px;
		}
	}

	&.small {

		::-webkit-input-placeholder {
			/* Chrome/Opera/Safari */
			font-size: 12px;
		}

		::-moz-placeholder {
			/* Firefox 19+ */
			font-size: 12px;
		}

		:-ms-input-placeholder {
			/* IE 10+ */
			font-size: 12px;
		}

		:-moz-placeholder {
			/* Firefox 18- */
			font-size: 12px;
		}

		input[type="text"],
		input[type="search"],
		input[type="password"],
		input[type="email"],
		input[type="url"],
		input[type="tel"] {
			background-size: 15px;
			font-size: 12px;
			height: 24px;

			&.success,
			&.error {
				padding-right: 30px;
			}
		}

		.text-input__validation-message {
			font-size: 11px;
		}
	}

	/* State Modifiers */
	&.hover {

		input[type="text"],
		input[type="search"],
		input[type="password"],
		input[type="email"],
		input[type="url"],
		input[type="tel"] {
			background-color: var(--c-gray-10);
		}
	}

	&.focus {

		input[type="text"],
		input[type="search"],
		input[type="password"],
		input[type="email"],
		input[type="url"],
		input[type="tel"] {
			background-color: var(--c-white);
			border: 1px solid var(--c-black);
		}
	}

	/* Validation States */
	&.success {

		input[type="text"],
		input[type="search"],
		input[type="password"],
		input[type="email"],
		input[type="url"],
		input[type="tel"] {
			background-image: url("../../public/icons/success.svg");
			background-position: right 10px center;
			border: 1px solid var(--c-success);
		}
	}

	&.error {

		input[type="text"],
		input[type="search"],
		input[type="password"],
		input[type="email"],
		input[type="url"],
		input[type="tel"] {
			background-image: url("../../public/icons/error.svg");
			background-position: right 10px center;
			border: 1px solid var(--c-error);
			font-size: 14px;
			font-weight: var(--font-semi-bold);
		}
	}

	&.secondary {

		input[type="text"],
		input[type="search"],
		input[type="password"],
		input[type="email"],
		input[type="url"],
		input[type="tel"] {
			border-radius: var(--radius-xlarge);
			padding: 0 15px;
		}
	}

	&.table-input {

		input[type="text"],
		input[type="search"],
		input[type="password"],
		input[type="email"],
		input[type="url"],
		input[type="tel"] {

			@media (min-width: $bp-medium) {
				// background-image: none;
				background-color: transparent;
				border: none;
				padding: 0;

				&.error {
					background-position: right center !important;
					padding-right: 0 !important;
				}
			}
		}

		.text-input__validation-message {

			@media (min-width: $bp-medium) {
				display: none;
			}
		}

		&:hover,
		&.hover {
			position: relative;

			.text-input__validation-message {

				@media (min-width: $bp-medium) {
					align-items: center;
					background-color: var(--c-white);
					border: 1px solid var(--c-gray-10);
					border-radius: var(--radius-xsmall);
					box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
					color: var(--default-text);
					display: flex;
					padding: 10px;
					position: absolute;
					top: 80%;
					left: 80%;
					Z-index: 5;
				}
			}
		}

		&:focus,
		&.focus {

			.text-input__validation-message {

				@media (min-width: $bp-medium) {
					display: none;
				}
			}
		}
	}
}
