/**
 *
 * Text Level Semantics
 * Set base styling for headlines, p, a, span, ul, li, ol, etc
 *
 */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--f-main);
	font-weight: 700;
	margin: 0;
}

h1,
.h1 {
	font-size: 6.4rem;
}

h2,
.h2 {
	font-size: 3.5rem;
}

h3,
.h3 {
	font-size: 3.5rem;
}

h4,
.h4 {
	font-size: 2.9rem;
}

h5,
.h5 {
	font-size: 2.6rem;
}

h6,
.h6 {
	font-size: 2.4rem;
}

p {
	font-weight: 400;
	margin: 0 0 2rem 0 !important;
}

strong {
	font-weight: 700;
}

/**
 *
 * Text Links
 *
 */
a {
	color: var(--c-black);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:focus {
		outline: 0;
	}
}

hr {
	border: none;
	height: 1px;
	margin: 0;
	outline: none;
	padding: 0;
	width: 100%;
}
