/**
 *
 * Editor Styles
 *
 */
.alternating-feature {

	&__content {
		margin-top: 0 !important;
	}

	&__subheading {
		margin-top: 0 !important;
	}

	&__primary-links {
		margin-top: 30px !important;
	}
}
