/*------------------------------------*\
    ::  CTA Bar Layout
\*------------------------------------*/
.cta-bar {
	width: 100%;
	padding: 35px 0 30px;
	overflow: hidden;
	.cta-bar__icon {
		float: left;
		max-height: 200px;
		width: 15%;
		position: relative;
		img {
			display: inline-block;
			max-width: 125px;
			max-height: 125px;
			min-height: 125px;
		}
	}
	.cta-bar__text {
		float: left;
		width: 56%;
		margin-left: emCalc(8px);
		h2 {
			margin: 0;
			&:after {
				@include bp($max:1024px) {
					width: 100px;
					left: 50%;
					margin: 0 auto 0 -50px;
				}
			}
		}
	}
	.cta-bar__button-wrap {
		float: right;
		.btn {
			width: emCalc(220px);
			margin: emCalc(48px) $pad*2 0 0;
		}
	}
	@include bp($max:960px) {
		padding: 35px 0 40px;
		.cta-bar__inner {
			padding: 0 $pad;
		}
		.cta-bar__icon {
			float: none;
			width: 100%;
			img {
				display: inline-block;
				max-width: 110px;
				max-height: 110px;
				min-height: 110px;
			}
		}
		.cta-bar__text {
			float: none;
			width: 80%;
			text-align: center;
			margin: 20px auto 0;
		}
		.cta-bar__button-wrap {
			float: none;
			width: 100%;
			text-align: center;
			.btn {
				display: inline-block;
				width: emCalc(320px);
				margin: emCalc(20px) 0 0 0;
			}
		}

	}
	@include bp($max:640px) {
		.cta-bar__text {
			width: 100%;
		}
	}
	@include bp($max:480px) {
		.cta-bar__button-wrap {
			.btn {
				width: 100%;
			}
		}
	}
}