/*------------------------------------*\
    ::  Icon Slider Layout
\*------------------------------------*/
.icon-slider {
	width: 100%;
	overflow: hidden;
	.icon-slider__overlay {
		float: right;
		width: 55%;
		padding: 0 em(55px);
		@include bp($max:1024px) {
			float: none;
			width: 100%;
			padding: 0 $pad*2;
		}
		@include bp($max:640px) {
			padding: 0 $pad;
		}
		.icon-slider__slider-wrap {
			width: 100%;
			max-width: 640px;
			padding: em(70px) 0 em(85px);
			@include bp($max:1024px) {
				max-width: 100%;
				width: 100%;
				padding: em(50px) 0 em(65px);
			}
			@include bp($max:480px) {
				padding: em(30px) 0 em(45px);
			}
			.icon-slider__title {
				width: 100%;
				margin: em(15px) 0 em(18px);
				position: relative;
				@include bp($max:1024px) {
					margin-bottom: em(25px);
				}
				@include bp($max:479px) {
					margin-bottom: em(20px);
				}
			}
			.icon-slider__nav {
				width: 100%;
				.icons {
					margin: 0;
					padding: 0;
					overflow: hidden;
					.icon {
						float: left;
						width: 18%;
						margin: 0 1%;
						img {
							display: inline-block;
							max-height: 45px;
							max-width: 45px;
						}
						@include bp($max:479px) {
							width: 33.333336%;
							margin: 0;
							&:nth-of-type(4),
							&:nth-of-type(5) {
								width: 50%;
								margin-top: em(20px);
							}
							&:nth-of-type(4) { // nudging icons to stager layout on mobile
								img {
									margin-left: 33%;
								}
							}
							&:nth-of-type(5) { // nudging icons to stager layout on mobile
								img {
									margin-right: 33%;
								}
							}
						}
					}
				}
			}
			.icon-slider__slider {
				margin-top: em(35px);
				@include bp($max:479px) {
					margin-top: em(20px);
				}
				.icon-slider__slides {
					margin: 0;
					width: 80%;
					overflow: hidden;
					@include bp($max:1024px) {
						padding: 0;
					}
					.icon-slider__text {
						h2 {
							&:first-of-type {
								strong {
									display: inline;
								}
							}
						}
					}
					@include bp($max:1024px) {
						margin: em(15px) auto 0;
						h2 {
							&:first-of-type {
								&:after {
									width: 100px;
									left: 50%;
									margin: 0 auto 0 -50px;
								}
							}
						}
					}
					@include bp($max:800px) {
						width: 100%;
					}	
				}
			}
		}
	}
	/*----------------------------------------------*\
	    :: Background Modifiers
	\*----------------------------------------------*/
	// Static bg image
	&[class*="--image"] {
		display: block;
		position: relative;
		height: 100%;
	}
}